body,
html {
  margin: 0;
}

.ms_k8-section-wrap {
  font-family: "Kia", "Noto Sans KR", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  height: calc(100vh - 160px);
  min-height: 580px;
  max-height: 740px;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #000;
  position: relative;
}
.ms_k8-section-wrap > section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ms_k8-section-wrap > section .contentWrap > div {
  position: relative;
  z-index: 2;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .navBox {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -710px;
  width: 1420px;
  z-index: 3;
  display: flex;
  flex-direction: row-reverse;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .navBox li {
  cursor: pointer;
  font-size: 18px;
  padding: 4px 16px;
  color: #999;
  position: relative;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .navBox li.on {
  color: #fff;
  cursor: auto;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .navBox li.on:after {
  display: block;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .navBox li:hover {
  color: #fff;
  text-decoration: underline;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .navBox li::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 10px;
  display: none;
  content: "";
  background: url("../static/img/arrow-down.png") no-repeat;
  background-size: 14px 10px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 698px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap .topMargin {
  width: 0;
  height: 25vh;
  max-height: 230px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap .rightBox {
  width: 12px;
  display: flex;
  flex-direction: column;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap .rightBox span {
  margin-bottom: 24px;
  font-size: 12px;
  display: block;
  width: 12px;
  text-align: center;
  color: #818181;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap .rightBox span.on {
  color: #fff;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap .rightBox span.em {
  position: relative;
  left: 5px;
  background: #fff;
  width: 1px;
  height: 128px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .bgDiv {
  background: #061221;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .bgDiv a {
  bottom: 4px;
  position: absolute;
  left: 50%;
  margin-left: 330px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox {
  position: absolute;
  bottom: 80px;
  left: 0;
  text-align: center;
  width: 100%;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox .lightDiv {
  width: 8px;
  height: 26px;
  margin: 0 auto 25px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox .lightDiv span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 2px;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox .lightDiv span:nth-child(1) {
  animation: 2s 0s ease-in infinite light-1;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox .lightDiv span:nth-child(2) {
  animation: 2s 0s ease-in infinite light-2;
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox .lightDiv span:nth-child(3) {
  animation: 2s 0s ease-in infinite light-3;
}
@keyframes light-1 {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes light-2 {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes light-3 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox p {
  font-size: 12px;
  animation: 2s 0s ease-in infinite light-4;
}
@keyframes light-4 {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ms_k8-section-wrap > section.msSection0 .contentWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap.top {
  top: -100%;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap.center {
  top: 0px;
  z-index: 2;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap.center p,
.ms_k8-section-wrap > section.msSection0 .contentWrap.center .btn-1 {
  opacity: 0;
  top: -10px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap.bottom {
  top: 100%;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap.none {
  display: none;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto 0;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .topMargin {
  height: 25vh;
  max-height: 230px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap {
  display: flex;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox {
  width: calc(100% - 12px);
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p {
  position: relative;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p1 {
  font-size: 16px;
  margin-bottom: 28px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p2 {
  font-size: 56px;
  margin-bottom: 40px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p3 {
  font-size: 20px;
  margin-bottom: 46px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.lh {
  line-height: 1.5em;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.mt {
  margin-top: 42px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox button {
  width: 235px;
  height: 56px;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .bgWrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.ms_k8-section-wrap > section.msSection0 .contentWrap .bgWrap video,
.ms_k8-section-wrap > section.msSection0 .contentWrap .bgWrap img {
  min-height: 100%;
}
.ms_k8-section-wrap > section.msSection1 {
  z-index: 3;
  top: 100%;
  transition: all 0.5s;
  background-color: #000000;
  overflow: hidden;
}
.ms_k8-section-wrap > section.msSection1.on {
  top: 0;
}
.ms_k8-section-wrap > section.msSection1.on .contentList .contentBox.center .bgWrap img {
  opacity: 1;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox {
  width: 1420px;
  top: 0;
  left: 50%;
  margin-left: -710px;
  position: absolute;
  z-index: 2;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .closeBtn {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 3;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox {
  position: absolute;
  right: 0;
  top: 0px;
  display: none;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox.on {
  display: block;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .topMargin {
  height: 18vh;
  max-height: 190px;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .boxWrap {
  display: flex;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navNames > li {
  font-size: 12px;
  opacity: 0.15;
  text-align: right;
  transition: all 0.3s;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navNames > li.on {
  opacity: 1;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navNames > li button {
  padding: 0 15px;
  height: 70px;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox {
  width: 2px;
  height: 280px;
  background-color: #5e5e60;
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar {
  position: relative;
  top: 0;
  transition: all 0.3s;
  width: 2px;
  height: 70px;
  background-color: #fff;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top0 {
  top: 0px;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top1 {
  top: 70px;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top2 {
  top: 140px;
}
.ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top3 {
  top: 210px;
}
.ms_k8-section-wrap > section.msSection1 .contentList {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background: #000;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox.top {
  top: -100%;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox.center {
  top: 0;
  z-index: 2;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox.bottom {
  top: 100%;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) {
  color: #000;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .body .em {
  background: #000;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .footer button span {
  color: #000;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -710px;
  z-index: 3;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv .pBox {
  width: 311px;
  margin: 0;
  left: 0;
  top: 190px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .scrollBox {
  z-index: 2;
  width: calc(100% + 16px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 100%;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox {
  margin: 45px auto 180px;
  width: 1420px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox {
  padding: 0 55px;
  box-sizing: border-box;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox .rowBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox .rowBox > div {
  margin-left: 10px;
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox .rowBox.rightPadding {
  padding-right: 377px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox {
  padding-right: 203px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox .btnDiv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox button {
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox button p {
  position: absolute;
  font-size: 24px;
  text-decoration: underline;
  left: 40px;
  bottom: 40px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox button .playImg {
  position: absolute;
  width: 65px;
  height: 67px;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -33px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox .flexDiv {
  display: flex;
  flex-direction: row-reverse;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox .flexDiv button:first-child {
  margin-left: 10px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size1 {
  width: 233px;
  height: 233px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size2 {
  width: 440px;
  height: 233px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size3 {
  width: 682px;
  height: 143px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size4 {
  width: 540px;
  height: 340px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size5 {
  width: 367px;
  height: 233px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size6 {
  width: 784px;
  height: 360px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size7 {
  width: 386px;
  height: 350px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox {
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .bgDiv {
  display: flex;
  justify-content: center;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -95px;
  box-sizing: border-box;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv a {
  text-decoration: none;
  color: #fff;
  display: flex;
  line-height: 80px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv a:hover {
  text-decoration: underline;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv .big {
  font-size: 18px;
  margin-right: 4px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv .small {
  color: #4f5862;
  font-size: 12px;
  text-decoration: underline;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv .small span {
  display: inline-block;
  margin-left: 2px;
  width: 8px;
  height: 12px;
  position: relative;
  top: 1px;
  background: url(../static/img/icon-triangle.png) no-repeat;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv img {
  position: absolute;
  top: -73px;
  left: 240px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox {
  width: 1420px;
  margin: 0 0 0 -710px;
  left: 50%;
  position: absolute;
  z-index: 1;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .topMargin {
  height: 18vh;
  max-height: 190px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .flexWrap {
  display: block;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .head {
  font-size: 20px;
  margin-bottom: 25px;
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body {
  display: flex;
  margin-bottom: 40px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .em {
  position: relative;
  width: 2px;
  height: 260px;
  background: #fff;
  margin: 0 30px 0 10px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv p {
  position: relative;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .bold {
  font-size: 40px;
  font-weight: 700;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .bold p {
  margin-bottom: 20px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .regular {
  font-size: 16px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .regular p {
  margin-top: 8px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .big {
  font-size: 60px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button {
  position: relative;
  left: -38px;
  display: flex;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button span {
  position: relative;
  top: 30px;
  left: 5px;
  font-size: 20px;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .bgWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ms_k8-section-wrap > section.msSection1 .contentList .contentBox .bgWrap img {
  opacity: 0;
  transition: all 1.5s;
}
.ms_k8-section-wrap > section.modalWrapper {
  display: none;
  opacity: 0;
  transition: all 0.3s;
  z-index: 5;
  justify-content: center;
  align-items: center;
}
.ms_k8-section-wrap > section.modalWrapper.on {
  display: flex;
  opacity: 1;
}
.ms_k8-section-wrap > section.modalWrapper .bgDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000;
  opacity: 0.9;
}
.ms_k8-section-wrap > section.modalWrapper .bgDiv .btnWrap {
  width: 100%;
  max-width: 1420px;
  margin: auto;
  position: relative;
}
.ms_k8-section-wrap > section.modalWrapper .bgDiv .btnWrap .modalCloseBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
.ms_k8-section-wrap > section.modalWrapper iframe {
  z-index: 3;
  width: 1280px;
  height: 720px;
}
.ms_k8-section-wrap > section .logo {
  width: 100%;
  max-width: 1420px;
  margin: 50px auto 0;
}
.ms_k8-section-wrap > section .logo img {
  width: 100px;
}
.ms_k8-section-wrap > section .btn-1 {
  overflow: hidden;
  position: relative;
  height: 56px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  transition: all 0.25s;
  cursor: pointer;
}
.ms_k8-section-wrap > section .btn-1 span {
  position: relative;
  z-index: 1;
  transition: all 0.2s;
}
.ms_k8-section-wrap > section .btn-1::after {
  background: #fff;
  position: absolute;
  top: -1px;
  display: block;
  content: "";
  left: -100%;
  width: 100%;
  height: calc(100% + 1px);
  transition: all 0.25s;
}
.ms_k8-section-wrap > section .btn-1:hover {
  color: #000;
}
.ms_k8-section-wrap > section .btn-1:hover span {
  color: #000;
}
.ms_k8-section-wrap > section .btn-1:hover::after {
  left: 0;
}
.ms_k8-section-wrap > section .btn-2 {
  padding: 20px;
  font-size: 16px;
  position: relative;
  color: #7e8284;
}
.ms_k8-section-wrap > section .btn-2.on {
  text-decoration: underline;
  color: #fff;
}
.ms_k8-section-wrap > section .btn-2.on::before, .ms_k8-section-wrap > section .btn-2.on::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  display: block;
  content: "";
  background: #fff;
  width: 10px;
  height: 2px;
  transform: rotate(45deg);
}
.ms_k8-section-wrap > section .btn-2.on::after {
  transform: rotate(-45deg);
  margin-left: -3px;
}
.ms_k8-section-wrap .ms_mo {
  display: none !important;
}
.ms_k8-section-wrap .ms_pc2 {
  display: block !important;
}
.ms_k8-section-wrap .ms_tab,
.ms_k8-section-wrap .ms_tabInline {
  display: none !important;
}
.ms_k8-section-wrap .ms_nontab {
  display: block !important;
}
.ms_k8-section-wrap .ms_nontabInline {
  display: inline !important;
}
.ms_k8-section-wrap .hide {
  display: none !important;
}
.ms_k8-section-wrap img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.ms_k8-section-wrap button {
  background: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
}
.ms_k8-section-wrap .unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ms_k8-section-wrap .fs52 {
  font-size: 52px;
}
.ms_k8-section-wrap .fs20 {
  font-size: 20px;
}
.ms_k8-section-wrap .fs40 {
  font-size: 40px;
}
.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}
.ms_k8-section-wrap .fs90 {
  font-size: 90px;
}
.ms_k8-section-wrap .fs24 {
  font-size: 24px;
}
.ms_k8-section-wrap .fs70 {
  font-size: 70px;
}
.ms_k8-section-wrap .fs14 {
  font-size: 14px;
}
.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}
.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}
.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}
.ms_k8-section-wrap .col_gray {
  color: #3c3c3c;
}
.ms_k8-section-wrap {
  /* HTML5 display-role reset for older browsers */
  line-height: 1;
}
.ms_k8-section-wrap html,
.ms_k8-section-wrap body,
.ms_k8-section-wrap div,
.ms_k8-section-wrap span,
.ms_k8-section-wrap applet,
.ms_k8-section-wrap object,
.ms_k8-section-wrap iframe,
.ms_k8-section-wrap h1,
.ms_k8-section-wrap h2,
.ms_k8-section-wrap h3,
.ms_k8-section-wrap h4,
.ms_k8-section-wrap h5,
.ms_k8-section-wrap h6,
.ms_k8-section-wrap p,
.ms_k8-section-wrap blockquote,
.ms_k8-section-wrap pre,
.ms_k8-section-wrap a,
.ms_k8-section-wrap abbr,
.ms_k8-section-wrap acronym,
.ms_k8-section-wrap address,
.ms_k8-section-wrap big,
.ms_k8-section-wrap cite,
.ms_k8-section-wrap code,
.ms_k8-section-wrap del,
.ms_k8-section-wrap dfn,
.ms_k8-section-wrap em,
.ms_k8-section-wrap img,
.ms_k8-section-wrap ins,
.ms_k8-section-wrap kbd,
.ms_k8-section-wrap q,
.ms_k8-section-wrap s,
.ms_k8-section-wrap samp,
.ms_k8-section-wrap small,
.ms_k8-section-wrap strike,
.ms_k8-section-wrap strong,
.ms_k8-section-wrap sub,
.ms_k8-section-wrap sup,
.ms_k8-section-wrap tt,
.ms_k8-section-wrap var,
.ms_k8-section-wrap b,
.ms_k8-section-wrap u,
.ms_k8-section-wrap i,
.ms_k8-section-wrap center,
.ms_k8-section-wrap dl,
.ms_k8-section-wrap dt,
.ms_k8-section-wrap dd,
.ms_k8-section-wrap ol,
.ms_k8-section-wrap ul,
.ms_k8-section-wrap li,
.ms_k8-section-wrap fieldset,
.ms_k8-section-wrap form,
.ms_k8-section-wrap label,
.ms_k8-section-wrap legend,
.ms_k8-section-wrap table,
.ms_k8-section-wrap caption,
.ms_k8-section-wrap tbody,
.ms_k8-section-wrap tfoot,
.ms_k8-section-wrap thead,
.ms_k8-section-wrap tr,
.ms_k8-section-wrap th,
.ms_k8-section-wrap td,
.ms_k8-section-wrap article,
.ms_k8-section-wrap aside,
.ms_k8-section-wrap canvas,
.ms_k8-section-wrap details,
.ms_k8-section-wrap embed,
.ms_k8-section-wrap figure,
.ms_k8-section-wrap figcaption,
.ms_k8-section-wrap footer,
.ms_k8-section-wrap header,
.ms_k8-section-wrap hgroup,
.ms_k8-section-wrap menu,
.ms_k8-section-wrap nav,
.ms_k8-section-wrap output,
.ms_k8-section-wrap ruby,
.ms_k8-section-wrap section,
.ms_k8-section-wrap summary,
.ms_k8-section-wrap time,
.ms_k8-section-wrap mark,
.ms_k8-section-wrap audio,
.ms_k8-section-wrap video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.ms_k8-section-wrap article,
.ms_k8-section-wrap aside,
.ms_k8-section-wrap details,
.ms_k8-section-wrap figcaption,
.ms_k8-section-wrap figure,
.ms_k8-section-wrap footer,
.ms_k8-section-wrap header,
.ms_k8-section-wrap hgroup,
.ms_k8-section-wrap menu,
.ms_k8-section-wrap nav,
.ms_k8-section-wrap section {
  display: block;
}
.ms_k8-section-wrap body {
  line-height: 1;
}
.ms_k8-section-wrap ol,
.ms_k8-section-wrap ul {
  list-style: none;
}
.ms_k8-section-wrap blockquote,
.ms_k8-section-wrap q {
  quotes: none;
}
.ms_k8-section-wrap blockquote:before,
.ms_k8-section-wrap blockquote:after,
.ms_k8-section-wrap q:before,
.ms_k8-section-wrap q:after {
  content: "";
  content: none;
}
.ms_k8-section-wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 1520px) {
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox {
    padding-left: 20px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv .pBox {
    padding-left: 20px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox {
    width: 1300px;
    margin: 0 0 0 -650px;
  }
}
@media (max-width: 1420px) {
  .ms_k8-section-wrap > section.msSection0 .fixWrap .navBox {
    margin: 0;
    left: 0;
    width: 100%;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap {
    left: calc(100% - 27px);
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .bgDiv a {
    left: auto;
    right: 20px;
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox {
    padding-left: 30px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox {
    width: calc(100% - 30px);
    left: auto;
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv {
    z-index: 3;
    left: auto;
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv .pBox {
    left: 0;
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox {
    margin: 45px 0 180px;
    width: calc(100% - 16px);
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox {
    padding: 0 70px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox {
    padding-right: 204px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox {
    padding-left: 60px;
    margin: 0;
    left: auto;
    width: 100%;
    box-sizing: border-box;
  }
  .ms_k8-section-wrap > section.msSection2 .centerWrap .closeBtnBox {
    right: 36px;
  }
  .ms_k8-section-wrap > section.modalWrapper iframe {
    width: 720px;
    height: 480px;
  }
  .ms_k8-section-wrap > section .logo {
    padding-left: 18px;
  }
}
@media (max-width: 1024px) {
  .ms_k8-section-wrap {
    height: calc(100vh - 150px);
    max-height: 740px;
    min-height: 740px;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap .navBox {
    justify-content: center;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap .boxWrap .topMargin {
    height: 22vh;
    max-height: 175px;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .bgDiv a {
    bottom: 14px;
    right: 10px;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .bgDiv a img {
    height: 30vh;
    max-height: 230px;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox {
    text-align: left;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox .lightDiv {
    margin: 0 0 25px 50px;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .botBox p {
    padding-left: 50px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .topMargin {
    height: 22vh;
    max-height: 175px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p1 {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p2 {
    font-size: 42px;
    margin-bottom: 25px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p2 span {
    display: block;
    height: 20px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p3 {
    font-size: 17px;
    margin-bottom: 40px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.mt {
    margin-top: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox {
    width: calc(100% - 15px);
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .closeBtn {
    top: 24px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .topMargin {
    max-height: 150px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox {
    height: 240px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar {
    height: 60px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top0 {
    top: 0px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top1 {
    top: 60px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top2 {
    top: 120px;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navBarBox .navBar.top3 {
    top: 180px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .topMargin {
    max-height: 240px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .head .em {
    background: #000;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv .pBox {
    top: 432px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .pBox .topMargin {
    height: calc(100vh - 260px);
    max-height: 370px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .pBox .flexWrap {
    position: relative;
    bottom: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .pBox .body {
    margin-bottom: 12px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox {
    margin: 75px 0 280px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox {
    padding: 0 30px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .gridBox .rowBox.rightPadding {
    padding: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox {
    padding: 0;
    justify-content: center;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox .btnDiv {
    justify-content: center;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox .flexDiv {
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 30px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox .flexDiv button:first-child {
    margin-bottom: 10px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox .movieBox p {
    bottom: 60px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size1 {
    width: auto;
    height: 26vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size2 {
    width: auto;
    height: 26vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size3 {
    width: auto;
    height: 14vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size4 {
    width: auto;
    height: 25vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size5 {
    width: auto;
    height: 25vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size6 {
    width: calc(100vw - 60px);
    height: auto;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .centerBox img.size7 {
    width: 50vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .bgDiv {
    justify-content: flex-end;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv {
    width: 100%;
    left: 0;
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv img {
    top: auto;
    left: auto;
    right: 20px;
    bottom: 30px;
    width: 50vw;
    max-width: 430px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox {
    padding-left: 34px;
    height: 100%;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .blockSpan {
    display: block;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .topMargin {
    display: none;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .flexWrap {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 60px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .head {
    line-height: 32px;
    margin: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .head .em {
    position: absolute;
    top: 0;
    left: 45px;
    width: 1px;
    height: 32px;
    background: #fff;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body {
    margin-bottom: 35px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .bold {
    margin-bottom: 8px;
    font-size: 35px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .tabInline {
    display: inline-block;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer {
    margin-bottom: 28px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer > img {
    height: 44px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button {
    left: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button img {
    height: 70px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button span {
    top: 23px;
    font-size: 15px;
  }
  .ms_k8-section-wrap .ms_tab {
    display: block !important;
  }
  .ms_k8-section-wrap .ms_tabInline {
    display: inline !important;
  }
  .ms_k8-section-wrap .ms_nontab {
    display: none !important;
  }
  .ms_k8-section-wrap .ms_nontabInline {
    display: none !important;
  }
}
@media (max-width: 540px) {
  .ms_k8-section-wrap {
    min-height: 640px;
  }
  .ms_k8-section-wrap > section.msSection0 .fixWrap2 .bgDiv a img {
    height: auto;
    width: 50vw;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p1 {
    font-size: 2.7vw;
    margin-bottom: 25px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p2 {
    font-size: 8.3vw;
    margin-bottom: 25px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p2 span {
    display: block;
    height: 20px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.p3 {
    font-size: 3.3vw;
    margin-bottom: 40px;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox p.mt {
    margin-top: 0;
  }
  .ms_k8-section-wrap > section.msSection0 .contentWrap .centerBox .boxWrap .leftBox button {
    width: 31.4vw;
    font-size: 3.3vw;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .closeBtn img {
    width: 4.6vw;
  }
  .ms_k8-section-wrap > section.msSection1 .fixedBox .navBox .navNames > li button {
    height: 60px;
    font-size: 3vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) {
    color: #fff;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .head .em {
    background-color: #fff;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .body .em {
    background: #fff;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(2) .pBox .footer button span {
    color: #fff;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .fixedDiv .pBox {
    top: 80vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .bgDiv img {
    height: 40px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox:nth-child(5) .footerBox .pDiv img {
    bottom: 15px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .topMargin {
    max-height: 330px;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .head {
    font-size: 3.3vw;
    line-height: 6vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .head .em {
    left: 8.3vw;
    height: 6vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body {
    margin-bottom: 6.4vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .bold {
    font-size: 6.4vw;
    margin-bottom: 1vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .bold p {
    margin-bottom: 4.2vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .regular {
    font-size: 3vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .regular p {
    margin-top: 0;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .regular p:first-child {
    margin-bottom: 1.6vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .body .flexDiv .big {
    font-size: 5.5vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer {
    margin-bottom: 5.5vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer > img {
    height: auto;
    width: 11vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button img {
    height: auto;
    width: 13vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .pBox .footer button span {
    top: 4.6vw;
    font-size: 3vw;
  }
  .ms_k8-section-wrap > section.msSection1 .contentList .contentBox .bgWrap img {
    height: 730px;
  }
  .ms_k8-section-wrap .ms_mo {
    display: block !important;
  }
  .ms_k8-section-wrap .ms_pc {
    display: none !important;
  }
}
@media (max-width: 400px) {
  .ms_k8-section-wrap .ms_pc2 {
    display: none !important;
  }
}