@import "./func.scss";
@import "./font.scss";

html,
body {
    margin: 0;
    padding: 0;
}

// pc
#ms_niro-launching-wrap {
    @import "./reset.scss";
    @import "./common.scss";

    font-family: "Kia", Arial, sans-serif;
    position: relative;

    .ms_container {
        color: #fff;
        position: relative;
        width: 100%;
        max-width: 1920px;
        overflow: hidden;
        height: calc(100vh - 159px);
        min-height: 740px;
        background: #000;

        .sectionSlideBox {
            position: relative;
            width: 100%;
            height: 100%;

            .section {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background: #333;
                transition: all 0.3s ease-in;
                z-index: 1;

                &.top {
                    top: -100%;
                }

                .contentBox {
                    width: 100%;
                    max-width: 1488px;
                    margin: auto;
                    padding: 114px 20px 0;
                    color: #fff;
                    position: relative;
                    z-index: 2;

                    p,
                    button {
                        position: relative;
                        z-index: 1;
                    }

                    .main {
                        margin-bottom: 34px;

                        p {
                            font-size: 36px;
                            font-weight: 700;
                            margin-bottom: 20px;
                        }
                    }

                    .sub {
                        height: 125px;

                        p {
                            font-size: 17px;
                            font-weight: 300;
                            margin-bottom: 10px;
                        }
                    }

                    .sub2 {
                        & + .sub2 {
                            margin-top: 50px;

                            a {
                                & ~ a {
                                    button {
                                        margin-top: 16px;
                                    }
                                }
                                button {
                                    margin-top: 24px;
                                }
                            }
                        }

                        p {
                            font-size: 32px;
                            margin-bottom: 14px;

                            & + p {
                                margin-bottom: 0;
                            }
                        }

                        a {
                            display: inline-block;
                        }

                        button {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            padding-right: 26px;
                            margin-top: 34px;
                            width: 212px;
                            height: 58px;
                            position: relative;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 300;

                            &.center {
                                justify-content: center;
                            }

                            .bgDiv {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background: #fff;
                                opacity: 0.2;
                                border-radius: 58px;
                            }

                            img {
                                &.googleStore {
                                    width: 20px;
                                    height: 22px;
                                    margin-left: 16px;
                                }

                                &.appStore {
                                    width: 20px;
                                    height: 25px;
                                    margin-left: 24px;
                                }
                            }
                        }
                    }

                    .btnBox {
                        display: flex;

                        &.col {
                            flex-direction: column;
                            align-items: flex-start;

                            button {
                                margin-right: 0;
                                margin-bottom: 24px;
                            }
                        }

                        button {
                            height: 56px;
                            line-height: 54px;
                            padding: 0 34px 0 74px;
                            position: relative;
                            color: #fff;
                            margin-right: 24px;
                            font-size: 16px;
                            text-align: left;

                            .imgDiv {
                                position: absolute;
                                top: 0;
                                left: -1px;
                                width: 56px;
                                height: 56px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .border {
                                position: absolute;
                                box-sizing: border-box;
                                margin: 0;
                                top: 0;
                                left: 0;
                                display: block;
                                width: 100%;
                                height: 100%;
                                border: 2px solid #fff;
                                border-radius: 56px;
                                opacity: 0.2;
                            }

                            span {
                                opacity: 0.3;
                                margin: 0 7px;
                            }
                        }
                    }
                }

                .bgBox {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .blackWrap {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #000000;
                        opacity: 0.3;
                        transition: all 0.5s;
                    }

                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        width: auto;
                        height: 100%;
                        min-width: 100%;
                        min-height: 100%;
                    }

                    video {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                        min-width: 1440px;
                        min-height: 100%;
                    }
                }
            }

            button {
                position: relative;
                z-index: 2;
            }
        }

        .fixedBox {
            .listBox {
                position: absolute;
                z-index: 2;
                top: 50%;
                right: 50%;
                margin-right: -724px;
                transform: translateY(-50%);

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    > li {
                        display: flex;
                        opacity: 0.2;
                        color: #fff;
                        margin-bottom: 13px;
                        cursor: pointer;
                        font-size: 13px;

                        &.on {
                            opacity: 1;
                        }

                        .circle {
                            display: block;
                            width: 13px;
                            height: 13px;
                            margin-left: 20px;
                            background: #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .footerBox {
                position: absolute;
                width: 100%;
                max-width: 1448px;
                bottom: 38px;
                left: 50%;
                margin-left: -724px;
                z-index: 2;

                display: flex;
                justify-content: center;

                .scrollGuideBox {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    display: flex;
                    align-items: center;

                    > div {
                        display: flex;
                    }

                    p {
                        font-size: 15px;
                    }

                    .imgBox {
                        margin-right: 12px;
                        width: 17px;
                        height: 17px;
                        display: inline-block;
                        overflow: hidden;
                        position: relative;
                        top: -5px;
                    }

                    img {
                        position: relative;
                        top: 0;
                        animation: 2s infinite ease-in-out downArrow;
                        width: 17px;
                        height: 10px;
                    }

                    @keyframes downArrow {
                        0% {
                            top: -300%;
                        }
                        40% {
                            top: 10%;
                        }
                        50% {
                            top: 20%;
                        }
                        70% {
                            top: 20%;
                        }
                        100% {
                            top: 200%;
                        }
                    }
                }

                .linkBox {
                    background: #02131e;
                    width: 253px;
                    height: 44px;
                    border-radius: 44px;

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 26px;
                    box-sizing: border-box;

                    a {
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        font-weight: 300;

                        span {
                            display: block;
                            width: 5px;
                            height: 5px;
                            background: #677178;

                            border-radius: 50%;
                            margin-right: 12px;
                        }
                        & + a {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
        .lineBox {
            position: absolute;
            height: 150%;
            right: 0;
            top: -25%;

            .circleLine {
                height: 100%;
                width: 100%;

                border-radius: 50%;
                border: 1px solid #fff;
            }

            img {
                height: 100%;
            }
        }

        // tween
        & {
            .tween1 {
                position: relative;
                top: 30px;
                opacity: 0;
            }

            .tween2 {
                position: relative;
                top: 30px;
                opacity: 0;
            }
        }
    }

    > div.modalWrapper {
        .contentDiv {
            color: #0a1622;
            padding-top: 100px;
            padding-bottom: 300px;
            height: 100%;
            box-sizing: border-box;
            overflow: auto;

            .contentList {
                width: 1080px;
                margin: auto;

                > li {
                    margin-bottom: 100px;

                    > p {
                        font-size: 38px;
                        font-weight: 300;
                        margin-bottom: 70px;
                    }

                    > .imgList {
                        > li {
                            img {
                                width: 1080px;
                                height: 630px;

                                &.size1 {
                                    height: 520px;
                                }
                                &.size2 {
                                    height: 415px;
                                }
                            }
                            + li {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }

            .refBox {
                width: 1080px;
                margin: 10px auto;

                p {
                    font-size: 12px;
                    color: #a2a2a2;
                    text-align: left;
                }
            }
        }
    }

    > div.modalWrapper {
        display: none;
        z-index: 199;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ede9ea;

        &.on {
            display: block;
        }

        .btnWrap {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1280px;
            top: 100px;
            z-index: 2;
            display: flex;
            justify-content: flex-end;
            padding-right: 64px;

            button {
                background: none;
            }
        }

        .contentDiv {
            position: relative;
            z-index: 1;
        }
    }

    .moviePopup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;

        &.on {
            display: block;
        }

        .iframeBox {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            width: 1080px;
            margin: auto;

            position: relative;
            top: 50%;
            transform: translateY(-50%);

            button {
                margin-bottom: 26px;
            }

            iframe {
                width: 1080px;
                height: 607px;
            }
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.6;
        }
    }

    // common
    & {
        div button {
            font-family: "Kia", Arial, sans-serif;
        }
    }

    // 상단에 위치하면 css 우선순위가 밀리므로 하단에 위치하였다
    @import "./responsive.scss";
}
