@import "./func.scss";

// display
div {
    .ms_tab,
    .ms_tab_inline,
    .ms_tab_flex {
        display: none !important;
    }
    .ms_nontab {
        display: block !important;
    }
    .ms_nontab_flex {
        display: flex !important;
    }
    .ms_nontab_inline {
        display: inline !important;
    }
}

@media (max-width: 1024px) {
    div {
        .ms_tab {
            display: block !important;
        }
        .ms_tab_inline {
            display: inline !important;
        }
        .ms_tab_flex {
            display: flex !important;
        }
        .ms_nontab,
        .ms_nontab_flex,
        .ms_nontab_inline {
            display: none !important;
        }
    }

    .ms_nontab_only {
        display: none !important;
    }
}

@media (max-width: 1023px) {
    .ms_container {
        height: calc((var(--vh, 1vh) * 100) - 116px);
        min-height: auto;
        .sectionSlideBox {
            .section {
                .contentBox {
                    @include px2vwm("padding", 128 0 128 66);
                    box-sizing: border-box;

                    .main {
                        @include px2vwm("margin-bottom", 50);
                        p {
                            @include px2vwm("margin-bottom", 34);
                            @include px2vwm("font-size", 68);
                        }
                    }

                    .sub {
                        @include px2vwm("height", 210);
                        &.opt1 {
                            @include px2vwm("height", 254);
                        }

                        p {
                            @include px2vwm("font-size", 36);
                            @include px2vwm("margin-bottom", 18);
                        }
                    }

                    .sub2 {
                        & + .sub2 {
                            @include px2vwm("margin-top", 60);

                            a {
                                & ~ a {
                                    button {
                                        @include px2vwm("margin-top", 26);
                                    }
                                }
                                button {
                                    @include px2vwm("margin-top", 46);
                                }
                            }
                        }

                        p {
                            @include px2vwm("font-size", 68);
                            @include px2vwm("margin-bottom", 30);

                            & + p {
                                margin-bottom: 0;
                                @include px2vwm("font-size", 64);
                            }
                        }

                        button {
                            @include px2vwm("margin-top", 40);
                            @include px2vwm("width", 375);
                            @include px2vwm("height", 95);
                            @include px2vwm("font-size", 34);
                            @include px2vwm("padding-right", 36);

                            .bgDiv {
                                @include px2vwm("border-radius", 95);
                            }

                            img {
                                &.googleStore {
                                    @include px2vwm("width", 48);
                                    @include px2vwm("height", 51);
                                    @include px2vwm("margin-left", 30);
                                }

                                &.appStore {
                                    @include px2vwm("width", 45);
                                    @include px2vwm("height", 56);
                                    @include px2vwm("margin-left", 64);
                                }
                            }
                        }
                    }

                    .btnBox {
                        &.col {
                            flex-direction: row;
                            justify-content: space-between;

                            button {
                                @include px2vwm("width", 455);
                                margin-bottom: 0;
                                padding-right: 0;
                            }
                        }

                        &.opt1 {
                            display: flex;
                            flex-direction: column;
                            button {
                                @include px2vwm("width", 444);
                                padding-right: 0;

                                & + button {
                                    @include px2vwm("margin-top", 60);
                                }
                            }
                        }

                        button {
                            @include px2vwm("height", 95);
                            @include px2vwm("line-height", 93);
                            @include px2vwm("padding", 0 60 0 126);
                            @include px2vwm("font-size", 34);
                            margin-right: 0;

                            .imgDiv {
                                @include px2vwm("width", 96);
                                @include px2vwm("height", 96);
                            }
                            .border {
                                @include px2vwm("border-radius", 96);
                            }

                            span {
                                @include px2vwm("margin", 0 12);
                            }
                        }
                    }
                }
                .bgBox {
                    img {
                        min-width: 100%;
                    }
                    
                    video {
                        min-width: 100%;
                        width: 100%;
                    }

                    @media screen and (max-aspect-ratio: 700/1282) {
                        video {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .fixedBox {
            .listBox {
                top: auto;
                right: auto;
                margin-right: 0;
                transform: translateY(0);

                @include px2vwm("left", 66);
                @include px2vwm("bottom", 220);

                ul {
                    align-items: flex-start;
                    > li {
                        @include px2vwm("margin-bottom", 28);
                        @include px2vwm("font-size", 29);
                        flex-direction: row-reverse;

                        .circle {
                            @include px2vwm("width", 27);
                            @include px2vwm("height", 27);
                            @include px2vwm("margin-right", 24);
                            margin-left: 0;
                        }
                    }
                }
            }
            .footerBox {
                @include px2vwm("bottom", 60);
                @include px2vwm("padding", 0 66);
                margin-left: 0;
                transform: translateX(-50%);
                justify-content: space-between;
                align-items: center;
                left: 50% !important;
                box-sizing: border-box;

                .scrollGuideBox {
                    position: relative;

                    > div {
                        align-items: center;
                    }
                    p {
                        @include px2vwm("font-size", 34);
                    }

                    .imgBox {
                        @include px2vwm("width", 50);
                        @include px2vwm("height", 50);
                        @include px2vwm("margin-right", 34);
                    }

                    img {
                        @include px2vwm("width", 49);
                        @include px2vwm("height", 27);
                    }
                }
                .linkBox {
                    @include px2vwm("width", 466);
                    @include px2vwm("height", 101);
                    @include px2vwm("border-radius", 101);
                    @include px2vwm("padding-left", 38);

                    a {
                        @include px2vwm("font-size", 34);
                        span {
                            @include px2vwm("width", 11);
                            @include px2vwm("height", 11);
                            @include px2vwm("margin-right", 27);
                        }
                        & + a {
                            @include px2vwm("margin-left", 37);
                        }
                    }
                }
            }
        }
    }

    > div.modalWrapper {
        .contentDiv {
            @include px2vwm("padding-top", 76);

            .contentList {
                width: 100%;

                > li {
                    @include px2vwm("margin-bottom", 100);

                    > p {
                        @include px2vwm("margin-bottom", 76);
                        @include px2vwm("padding", 0 68);
                        @include px2vwm("font-size", 58);
                    }

                    > .imgList {
                        > li {
                            img {
                                width: 100%;
                                @include px2vwm("height", 630);

                                &.size1 {
                                    @include px2vwm("height", 520);
                                }
                                &.size2 {
                                    @include px2vwm("height", 415);
                                }
                            }
                            + li {
                                @include px2vwm("margin-top", 20);
                            }
                        }
                    }
                }
            }

            .refBox {
                width: 100%;
                @include px2vwm("margin-top", 60);

                p {
                    @include px2vwm("font-size", 22);
                    text-align: center;
                }
            }
        }
    }
    .moviePopup {
        .iframeBox {
            @include px2vwm("width", 950);

            button {
                img {
                    @include px2vwm("width", 54);
                    @include px2vwm("height", 54);
                }

                @include px2vwm("margin-bottom", 40);
            }

            iframe {
                width: 100%;
                height: auto;
                @include px2vwm("min-height", 534);
            }
        }
    }
}

@media (max-width: 1488px) {
    .ms_container {
        .fixedBox {
            .listBox {
                right: 20px;
                margin-right: 0;
            }
            .footerBox {
                left: 20px;
                margin-left: 0;
            }
        }
    }
}
