div .ms_tab,
div .ms_tab_inline,
div .ms_tab_flex {
  display: none !important;
}
div .ms_nontab {
  display: block !important;
}
div .ms_nontab_flex {
  display: flex !important;
}
div .ms_nontab_inline {
  display: inline !important;
}

@media (max-width: 1024px) {
  div .ms_tab {
    display: block !important;
  }
  div .ms_tab_inline {
    display: inline !important;
  }
  div .ms_tab_flex {
    display: flex !important;
  }
  div .ms_nontab,
div .ms_nontab_flex,
div .ms_nontab_inline {
    display: none !important;
  }

  .ms_nontab_only {
    display: none !important;
  }
}
@media (max-width: 1023px) {
  .ms_container {
    height: calc((var(--vh, 1vh) * 100) - 116px);
    min-height: auto;
  }
  .ms_container .sectionSlideBox .section .contentBox {
    padding: 11.8518518519vw 0vw 11.8518518519vw 6.1111111111vw;
    box-sizing: border-box;
  }
  .ms_container .sectionSlideBox .section .contentBox .main {
    margin-bottom: 4.6296296296vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .main p {
    margin-bottom: 3.1481481481vw;
    font-size: 6.2962962963vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub {
    height: 19.4444444444vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub.opt1 {
    height: 23.5185185185vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub p {
    font-size: 3.3333333333vw;
    margin-bottom: 1.6666666667vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 + .sub2 {
    margin-top: 5.5555555556vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 + .sub2 a ~ a button {
    margin-top: 2.4074074074vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 + .sub2 a button {
    margin-top: 4.2592592593vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 p {
    font-size: 6.2962962963vw;
    margin-bottom: 2.7777777778vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 p + p {
    margin-bottom: 0;
    font-size: 5.9259259259vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 button {
    margin-top: 3.7037037037vw;
    width: 34.7222222222vw;
    height: 8.7962962963vw;
    font-size: 3.1481481481vw;
    padding-right: 3.3333333333vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 button .bgDiv {
    border-radius: 8.7962962963vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 button img.googleStore {
    width: 4.4444444444vw;
    height: 4.7222222222vw;
    margin-left: 2.7777777778vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .sub2 button img.appStore {
    width: 4.1666666667vw;
    height: 5.1851851852vw;
    margin-left: 5.9259259259vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox.col {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6.1111111111vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox.col button {
    width: 42.1296296296vw;
    margin-bottom: 0;
    padding-right: 0;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox.opt1 {
    display: flex;
    flex-direction: column;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox.opt1 button {
    width: 41.1111111111vw;
    padding-right: 0;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox.opt1 button + button {
    margin-top: 5.5555555556vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox button {
    height: 8.7962962963vw;
    line-height: 8.6111111111vw;
    padding: 0vw 5.5555555556vw 0vw 11.6666666667vw;
    font-size: 3.1481481481vw;
    margin-right: 0;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox button .imgDiv {
    width: 8.8888888889vw;
    height: 8.8888888889vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox button .border {
    border-radius: 8.8888888889vw;
  }
  .ms_container .sectionSlideBox .section .contentBox .btnBox button span {
    margin: 0vw 1.1111111111vw;
  }
  .ms_container .sectionSlideBox .section .bgBox img {
    height: 100%;
    width: auto;
  }
  .ms_container .sectionSlideBox .section .bgBox video {
    min-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1023px) and (max-aspect-ratio: 700/1282) {
  .ms_container .sectionSlideBox .section .bgBox video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 1023px) {
  .ms_container .fixedBox .listBox {
    top: auto;
    right: auto;
    margin-right: 0;
    transform: translateY(0);
    left: 6.1111111111vw;
    bottom: 20.3703703704vw;
  }
  .ms_container .fixedBox .listBox ul {
    align-items: flex-start;
  }
  .ms_container .fixedBox .listBox ul > li {
    margin-bottom: 2.5925925926vw;
    font-size: 2.6851851852vw;
    flex-direction: row-reverse;
  }
  .ms_container .fixedBox .listBox ul > li .circle {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 2.2222222222vw;
    margin-left: 0;
  }
  .ms_container .fixedBox .footerBox {
    bottom: 5.5555555556vw;
    padding: 0vw 6.1111111111vw;
    margin-left: 0;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    left: 50% !important;
    box-sizing: border-box;
  }
  .ms_container .fixedBox .footerBox .scrollGuideBox {
    position: relative;
  }
  .ms_container .fixedBox .footerBox .scrollGuideBox > div {
    align-items: center;
  }
  .ms_container .fixedBox .footerBox .scrollGuideBox p {
    font-size: 3.1481481481vw;
  }
  .ms_container .fixedBox .footerBox .scrollGuideBox .imgBox {
    width: 4.6296296296vw;
    height: 4.6296296296vw;
    margin-right: 3.1481481481vw;
  }
  .ms_container .fixedBox .footerBox .scrollGuideBox img {
    width: 4.537037037vw;
    height: 2.5vw;
  }
  .ms_container .fixedBox .footerBox .linkBox {
    width: 43.1481481481vw;
    height: 9.3518518519vw;
    border-radius: 9.3518518519vw;
    padding-left: 3.5185185185vw;
  }
  .ms_container .fixedBox .footerBox .linkBox a {
    font-size: 3.1481481481vw;
  }
  .ms_container .fixedBox .footerBox .linkBox a span {
    width: 1.0185185185vw;
    height: 1.0185185185vw;
    margin-right: 2.5vw;
  }
  .ms_container .fixedBox .footerBox .linkBox a + a {
    margin-left: 3.4259259259vw;
  }
}
@media (max-width: 1023px) {
  > div.modalWrapper .contentDiv {
    padding-top: 7.037037037vw;
  }
  > div.modalWrapper .contentDiv .contentList {
    width: 100%;
  }
  > div.modalWrapper .contentDiv .contentList > li {
    margin-bottom: 9.2592592593vw;
  }
  > div.modalWrapper .contentDiv .contentList > li > p {
    margin-bottom: 7.037037037vw;
    padding: 0vw 6.2962962963vw;
    font-size: 5.3703703704vw;
  }
  > div.modalWrapper .contentDiv .contentList > li > .imgList > li img {
    width: 100%;
    height: 58.3333333333vw;
  }
  > div.modalWrapper .contentDiv .contentList > li > .imgList > li img.size1 {
    height: 48.1481481481vw;
  }
  > div.modalWrapper .contentDiv .contentList > li > .imgList > li img.size2 {
    height: 38.4259259259vw;
  }
  > div.modalWrapper .contentDiv .contentList > li > .imgList > li + li {
    margin-top: 1.8518518519vw;
  }
  > div.modalWrapper .contentDiv .refBox {
    width: 100%;
    margin-top: 5.5555555556vw;
  }
  > div.modalWrapper .contentDiv .refBox p {
    font-size: 2.037037037vw;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .moviePopup .iframeBox {
    width: 87.962962963vw;
  }
  .moviePopup .iframeBox button {
    margin-bottom: 3.7037037037vw;
  }
  .moviePopup .iframeBox button img {
    width: 5vw;
    height: 5vw;
  }
  .moviePopup .iframeBox iframe {
    width: 100%;
    height: auto;
    min-height: 49.4444444444vw;
  }
}
@media (max-width: 1488px) {
  .ms_container .fixedBox .listBox {
    right: 20px;
    margin-right: 0;
  }
  .ms_container .fixedBox .footerBox {
    left: 20px;
    margin-left: 0;
  }
}