.ms_mo {
    display: none !important;
}
.ms_pc {
    display: block !important;
}

.ms_tab,
.ms_tabInline,
.ms_tabFlex {
    display: none !important;
}
.ms_nontab {
    display: block !important;
}
.ms_nontabFlex {
    display: flex !important;
}
.ms_nontabInline {
    display: inline !important;
}
.hide {
    display: none !important;
}
img {
    display: block;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

strong {
    font-weight: 700;
}

button {
    background: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.col_gray {
    color: #3c3c3c;
}
.fl {
    display: flex;
}
.sb {
    justify-content: space-between;
}

@media (max-width: 1520px) {
}
@media (max-width: 1420px) {
}
@media (max-width: 1024px) {
    .ms_tab {
        display: block !important;
    }
    .ms_tabInline {
        display: inline !important;
    }
    .ms_tabFlex {
        display: flex !important;
    }
    .ms_nontab,
    .ms_nontabFlex,
    .ms_nontabInline {
        display: none !important;
    }
}
@media (max-width: 540px) {
    .ms_mo {
        display: block !important;
    }
    .ms_pc {
        display: none !important;
    }
}
