@import "./func.scss";
body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// pc
#ms_k3-launching-gate {
    @import "./reset.scss";
    @import "./libs.scss";
    @import "./common.scss";

    // kia.com header - 160px
    font-family: "Kia", "Noto Sans KR", Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    position: relative;
    @include px2vw("height", 800);

    > div {
        position: relative;
        z-index: 2;
        &.imgBox {
            @include px2vw("width", 1420);
            @include px2vw("margin-top", 77);
            @include px2vw("margin-bottom", 24);
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: flex-end;

            img {
                @include px2vw("width", 218);
                @include px2vw("height", 120);
                max-width: 218px;
                max-height: 120px;
            }
        }
        &.pBox {
            @include px2vw("width", 1420);
            @include px2vw("margin-bottom", 40);
            margin-left: auto;
            margin-right: auto;
            p {
                &.p1 {
                    // /asdf
                    font-size: 40px;
                    @include px2vw("margin-bottom", 22);
                }
                &.p2 {
                    // /asdf
                    font-size: 16px;
                }
            }
        }
        &.btnBox {
            position: relative;

            .aBox {
                @include px2vw("width", 1420);
                margin-left: auto;
                margin-right: auto;
                text-align: right;
                position: relative;
                z-index: 1;

                a {
                    display: inline-block;
                    @include px2vw("height", 70);
                    @include px2vw("line-height", 70);
                    @include px2vw("border-radius", 35);
                    @include px2vw("width", 240);
                    @include px2vw("font-size", 16);
                    background: #fff;
                    color: #000;
                    text-align: center;
                }
            }

            > img {
                width: 100vw;
                @include px2vw("height", 172);
                @include px2vw("top", 38);
                left: 0;
                position: absolute;
            }
        }
        &.bgBox {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    // 상단에 위치하면 css 우선순위가 밀리므로 하단에 위치하였다
    // @import "./responsive.scss";
}

@media (max-width: 1920px) {
    #ms_k3-launching-gate {
        > div {
            position: relative;
            z-index: 2;
            &.imgBox {
                @include px2vw("width", 1420);
                @include px2vw("margin-top", 77);
                @include px2vw("margin-bottom", 24);
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: flex-end;

                img {
                    @include px2vw("width", 218);
                    @include px2vw("height", 120);
                    max-width: 218px;
                    max-height: 120px;
                }
            }
            &.pBox {
                @include px2vw("width", 1420);
                @include px2vw("margin-bottom", 40);
                margin-left: auto;
                margin-right: auto;
                p {
                    &.p1 {
                        @include px2vw("font-size", 40);
                        @include px2vw("margin-bottom", 22);
                    }
                    &.p2 {
                        @include px2vw("font-size", 16);
                    }
                }
            }
            &.btnBox {
                position: relative;

                .aBox {
                    @include px2vw("width", 1420);
                    margin-left: auto;
                    margin-right: auto;
                    text-align: right;
                    a {
                        display: block;
                        @include px2vw("height", 70);
                        @include px2vw("line-height", 70);
                        @include px2vw("border-radius", 35);
                        @include px2vw("width", 240);
                        @include px2vw("font-size", 16);
                        background: #fff;
                        color: #000;
                        text-align: center;
                    }
                }

                > img {
                    width: 100vw;
                    @include px2vw("height", 172);
                    @include px2vw("top", 38);
                    left: 0;
                    position: absolute;
                }
            }
            &.bgBox {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                z-index: 1;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
