@charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#ms_k3-launching-gate {
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  /* HTML5 display-role reset for older browsers */
  /* Slider */
  /* Arrows */
  /* Dots */
  font-family: "Kia", "Noto Sans KR", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #fff;
  position: relative;
  height: 41.6666666667vw;
}
#ms_k3-launching-gate body,
#ms_k3-launching-gate html {
  margin: 0;
}
#ms_k3-launching-gate html, #ms_k3-launching-gate body, #ms_k3-launching-gate div, #ms_k3-launching-gate span, #ms_k3-launching-gate applet, #ms_k3-launching-gate object, #ms_k3-launching-gate iframe,
#ms_k3-launching-gate h1, #ms_k3-launching-gate h2, #ms_k3-launching-gate h3, #ms_k3-launching-gate h4, #ms_k3-launching-gate h5, #ms_k3-launching-gate h6, #ms_k3-launching-gate p, #ms_k3-launching-gate blockquote, #ms_k3-launching-gate pre,
#ms_k3-launching-gate a, #ms_k3-launching-gate abbr, #ms_k3-launching-gate acronym, #ms_k3-launching-gate address, #ms_k3-launching-gate big, #ms_k3-launching-gate cite, #ms_k3-launching-gate code,
#ms_k3-launching-gate del, #ms_k3-launching-gate dfn, #ms_k3-launching-gate em, #ms_k3-launching-gate img, #ms_k3-launching-gate ins, #ms_k3-launching-gate kbd, #ms_k3-launching-gate q, #ms_k3-launching-gate s, #ms_k3-launching-gate samp,
#ms_k3-launching-gate small, #ms_k3-launching-gate strike, #ms_k3-launching-gate strong, #ms_k3-launching-gate sub, #ms_k3-launching-gate sup, #ms_k3-launching-gate tt, #ms_k3-launching-gate var,
#ms_k3-launching-gate b, #ms_k3-launching-gate u, #ms_k3-launching-gate i, #ms_k3-launching-gate center,
#ms_k3-launching-gate dl, #ms_k3-launching-gate dt, #ms_k3-launching-gate dd, #ms_k3-launching-gate ol, #ms_k3-launching-gate ul, #ms_k3-launching-gate li,
#ms_k3-launching-gate fieldset, #ms_k3-launching-gate form, #ms_k3-launching-gate label, #ms_k3-launching-gate legend,
#ms_k3-launching-gate table, #ms_k3-launching-gate caption, #ms_k3-launching-gate tbody, #ms_k3-launching-gate tfoot, #ms_k3-launching-gate thead, #ms_k3-launching-gate tr, #ms_k3-launching-gate th, #ms_k3-launching-gate td,
#ms_k3-launching-gate article, #ms_k3-launching-gate aside, #ms_k3-launching-gate canvas, #ms_k3-launching-gate details, #ms_k3-launching-gate embed,
#ms_k3-launching-gate figure, #ms_k3-launching-gate figcaption, #ms_k3-launching-gate footer, #ms_k3-launching-gate header, #ms_k3-launching-gate hgroup,
#ms_k3-launching-gate menu, #ms_k3-launching-gate nav, #ms_k3-launching-gate output, #ms_k3-launching-gate ruby, #ms_k3-launching-gate section, #ms_k3-launching-gate summary,
#ms_k3-launching-gate time, #ms_k3-launching-gate mark, #ms_k3-launching-gate audio, #ms_k3-launching-gate video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#ms_k3-launching-gate article, #ms_k3-launching-gate aside, #ms_k3-launching-gate details, #ms_k3-launching-gate figcaption, #ms_k3-launching-gate figure,
#ms_k3-launching-gate footer, #ms_k3-launching-gate header, #ms_k3-launching-gate hgroup, #ms_k3-launching-gate menu, #ms_k3-launching-gate nav, #ms_k3-launching-gate section {
  display: block;
}
#ms_k3-launching-gate body {
  line-height: 1;
}
#ms_k3-launching-gate ol, #ms_k3-launching-gate ul {
  list-style: none;
}
#ms_k3-launching-gate blockquote, #ms_k3-launching-gate q {
  quotes: none;
}
#ms_k3-launching-gate blockquote:before, #ms_k3-launching-gate blockquote:after,
#ms_k3-launching-gate q:before, #ms_k3-launching-gate q:after {
  content: "";
  content: none;
}
#ms_k3-launching-gate table {
  border-collapse: collapse;
  border-spacing: 0;
}
#ms_k3-launching-gate button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
#ms_k3-launching-gate a {
  text-decoration: none;
}
#ms_k3-launching-gate .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
#ms_k3-launching-gate .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
#ms_k3-launching-gate .slick-list:focus {
  outline: none;
}
#ms_k3-launching-gate .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
#ms_k3-launching-gate .slick-slider .slick-track,
#ms_k3-launching-gate .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#ms_k3-launching-gate .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ms_k3-launching-gate .slick-track:before, #ms_k3-launching-gate .slick-track:after {
  content: "";
  display: table;
}
#ms_k3-launching-gate .slick-track:after {
  clear: both;
}
.slick-loading #ms_k3-launching-gate .slick-track {
  visibility: hidden;
}
#ms_k3-launching-gate .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] #ms_k3-launching-gate .slick-slide {
  float: right;
}
#ms_k3-launching-gate .slick-slide img {
  display: block;
}
#ms_k3-launching-gate .slick-slide.slick-loading img {
  display: none;
}
#ms_k3-launching-gate .slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized #ms_k3-launching-gate .slick-slide {
  display: block;
}
.slick-loading #ms_k3-launching-gate .slick-slide {
  visibility: hidden;
}
.slick-vertical #ms_k3-launching-gate .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
#ms_k3-launching-gate .slick-arrow.slick-hidden {
  display: none;
}
#ms_k3-launching-gate .slick-prev,
#ms_k3-launching-gate .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
#ms_k3-launching-gate .slick-prev:hover,
#ms_k3-launching-gate .slick-prev:focus,
#ms_k3-launching-gate .slick-next:hover,
#ms_k3-launching-gate .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
#ms_k3-launching-gate .slick-prev:hover:before,
#ms_k3-launching-gate .slick-prev:focus:before,
#ms_k3-launching-gate .slick-next:hover:before,
#ms_k3-launching-gate .slick-next:focus:before {
  opacity: 1;
}
#ms_k3-launching-gate .slick-prev.slick-disabled:before,
#ms_k3-launching-gate .slick-next.slick-disabled:before {
  opacity: 0.25;
}
#ms_k3-launching-gate .slick-prev:before,
#ms_k3-launching-gate .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#ms_k3-launching-gate .slick-prev {
  left: -25px;
}
#ms_k3-launching-gate [dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}
#ms_k3-launching-gate .slick-prev:before {
  content: "←";
}
#ms_k3-launching-gate [dir=rtl] .slick-prev:before {
  content: "→";
}
#ms_k3-launching-gate .slick-next {
  right: -25px;
}
#ms_k3-launching-gate [dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}
#ms_k3-launching-gate .slick-next:before {
  content: "→";
}
#ms_k3-launching-gate [dir=rtl] .slick-next:before {
  content: "←";
}
#ms_k3-launching-gate .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
#ms_k3-launching-gate .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
#ms_k3-launching-gate .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
#ms_k3-launching-gate .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
#ms_k3-launching-gate .slick-dots li button:hover,
#ms_k3-launching-gate .slick-dots li button:focus {
  outline: none;
}
#ms_k3-launching-gate .slick-dots li button:hover:before,
#ms_k3-launching-gate .slick-dots li button:focus:before {
  opacity: 1;
}
#ms_k3-launching-gate .slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  content: "•";
  text-align: center;
  background: #3c3c3c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#ms_k3-launching-gate .slick-dots li.slick-active button:before {
  background: #fff;
}
#ms_k3-launching-gate .ms_mo {
  display: none !important;
}
#ms_k3-launching-gate .ms_pc {
  display: block !important;
}
#ms_k3-launching-gate .ms_tab,
#ms_k3-launching-gate .ms_tabInline,
#ms_k3-launching-gate .ms_tabFlex {
  display: none !important;
}
#ms_k3-launching-gate .ms_nontab {
  display: block !important;
}
#ms_k3-launching-gate .ms_nontabFlex {
  display: flex !important;
}
#ms_k3-launching-gate .ms_nontabInline {
  display: inline !important;
}
#ms_k3-launching-gate .hide {
  display: none !important;
}
#ms_k3-launching-gate img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
#ms_k3-launching-gate strong {
  font-weight: 700;
}
#ms_k3-launching-gate button {
  background: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
}
#ms_k3-launching-gate .unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#ms_k3-launching-gate .col_gray {
  color: #3c3c3c;
}
#ms_k3-launching-gate .fl {
  display: flex;
}
#ms_k3-launching-gate .sb {
  justify-content: space-between;
}
@media (max-width: 1024px) {
  #ms_k3-launching-gate .ms_tab {
    display: block !important;
  }
  #ms_k3-launching-gate .ms_tabInline {
    display: inline !important;
  }
  #ms_k3-launching-gate .ms_tabFlex {
    display: flex !important;
  }
  #ms_k3-launching-gate .ms_nontab,
#ms_k3-launching-gate .ms_nontabFlex,
#ms_k3-launching-gate .ms_nontabInline {
    display: none !important;
  }
}
@media (max-width: 540px) {
  #ms_k3-launching-gate .ms_mo {
    display: block !important;
  }
  #ms_k3-launching-gate .ms_pc {
    display: none !important;
  }
}
#ms_k3-launching-gate > div {
  position: relative;
  z-index: 2;
}
#ms_k3-launching-gate > div.imgBox {
  width: 73.9583333333vw;
  margin-top: 4.0104166667vw;
  margin-bottom: 1.25vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}
#ms_k3-launching-gate > div.imgBox img {
  width: 11.3541666667vw;
  height: 6.25vw;
  max-width: 218px;
  max-height: 120px;
}
#ms_k3-launching-gate > div.pBox {
  width: 73.9583333333vw;
  margin-bottom: 2.0833333333vw;
  margin-left: auto;
  margin-right: auto;
}
#ms_k3-launching-gate > div.pBox p.p1 {
  font-size: 40px;
  margin-bottom: 1.1458333333vw;
}
#ms_k3-launching-gate > div.pBox p.p2 {
  font-size: 16px;
}
#ms_k3-launching-gate > div.btnBox {
  position: relative;
}
#ms_k3-launching-gate > div.btnBox .aBox {
  width: 73.9583333333vw;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  position: relative;
  z-index: 1;
}
#ms_k3-launching-gate > div.btnBox .aBox a {
  display: inline-block;
  height: 3.6458333333vw;
  line-height: 3.6458333333vw;
  border-radius: 1.8229166667vw;
  width: 12.5vw;
  font-size: 0.8333333333vw;
  background: #fff;
  color: #000;
  text-align: center;
}
#ms_k3-launching-gate > div.btnBox > img {
  width: 100vw;
  height: 8.9583333333vw;
  top: 1.9791666667vw;
  left: 0;
  position: absolute;
}
#ms_k3-launching-gate > div.bgBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
}
#ms_k3-launching-gate > div.bgBox img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1920px) {
  #ms_k3-launching-gate > div {
    position: relative;
    z-index: 2;
  }
  #ms_k3-launching-gate > div.imgBox {
    width: 73.9583333333vw;
    margin-top: 4.0104166667vw;
    margin-bottom: 1.25vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
  }
  #ms_k3-launching-gate > div.imgBox img {
    width: 11.3541666667vw;
    height: 6.25vw;
    max-width: 218px;
    max-height: 120px;
  }
  #ms_k3-launching-gate > div.pBox {
    width: 73.9583333333vw;
    margin-bottom: 2.0833333333vw;
    margin-left: auto;
    margin-right: auto;
  }
  #ms_k3-launching-gate > div.pBox p.p1 {
    font-size: 2.0833333333vw;
    margin-bottom: 1.1458333333vw;
  }
  #ms_k3-launching-gate > div.pBox p.p2 {
    font-size: 0.8333333333vw;
  }
  #ms_k3-launching-gate > div.btnBox {
    position: relative;
  }
  #ms_k3-launching-gate > div.btnBox .aBox {
    width: 73.9583333333vw;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }
  #ms_k3-launching-gate > div.btnBox .aBox a {
    display: block;
    height: 3.6458333333vw;
    line-height: 3.6458333333vw;
    border-radius: 1.8229166667vw;
    width: 12.5vw;
    font-size: 0.8333333333vw;
    background: #fff;
    color: #000;
    text-align: center;
  }
  #ms_k3-launching-gate > div.btnBox > img {
    width: 100vw;
    height: 8.9583333333vw;
    top: 1.9791666667vw;
    left: 0;
    position: absolute;
  }
  #ms_k3-launching-gate > div.bgBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1;
  }
  #ms_k3-launching-gate > div.bgBox img {
    width: 100%;
    height: 100%;
  }
}