@import "./func.scss";

@media (max-width: 1920px) {
    > div {
        &.menuWrapper {
            .topstach {
                @include px2vw("height", 60);

                .centerBox {
                    @include px2vw("width", 1660);

                    p {
                        @include px2vw("line-height", 60);
                        @include px2vw("font-size", 18);
                    }
                    button {
                        @include px2vw("margin-right", 110);
                        @include px2vw("height", 60);
                        img {
                            @include px2vw("width", 31);
                            @include px2vw("height", 22);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    > div {
        &.sectionWrap {
            > div {
                &.msSection0 {
                    @include px2vwm("height", 1920);
                    padding-bottom: 0;
                    flex-direction: column;

                    .movieBox {
                        width: 100%;
                        @include px2vwm("height", 1430);
                        align-items: flex-start;

                        p {
                            @include px2vwm("font-size", 42);
                            @include px2vwm("margin-top", 96);
                            width: 100%;
                        }
                        .scrollAniBox {
                            position: absolute;
                            z-index: 1;
                            bottom: 0px;
                            left: 50%;
                            margin-left: -52px;
                            p {
                                @include px2vwm("font-size", 24);
                                color: #7b7b7b;
                            }
                            > span {
                                margin: 16px auto 0;
                                background: #25282d;
                                width: 1px;
                                @include px2vwm("height", 145);
                                display: block;
                                position: relative;
                                overflow: hidden;

                                > img {
                                    width: 1px;
                                    @include px2vwm("height", 90);
                                    position: absolute;
                                    animation: 1.2s ease-in infinite whiteBar;
                                }

                                @keyframes whiteBar {
                                    0% {
                                        top: -51px;
                                    }
                                    100% {
                                        @include px2vwm("top", 90);
                                    }
                                }
                            }
                        }
                        > video,
                        > img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .pBox {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;

                        > div {
                            position: absolute;
                        }
                        .logo {
                            @include px2vwm("margin-top", 550);
                            left: 50%;
                            @include px2vwm("margin-left", -190);

                            img {
                                @include px2vwm("width", 381);
                                @include px2vwm("height", 209);
                            }
                        }
                        .btnBox {
                            left: 0;
                            display: flex;
                            justify-content: space-between;
                            @include px2vwm("bottom", 204);
                            @include px2vwm("padding", 0 113);
                            width: 100%;
                            box-sizing: border-box;

                            a {
                                @include px2vwm("font-size", 36);
                                @include px2vwm("width", 244);
                                @include px2vwm("height", 244);
                                @include px2vwm("margin-top", 16);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                background: #051a2c;
                                position: relative;
                                color: #fff;

                                &.blue {
                                    background: #004077;
                                }

                                &.new {
                                    &::after {
                                        position: absolute;
                                        content: "N";
                                        color: #fff;
                                        display: block;
                                        text-align: center;
                                        @include px2vwm("line-height", 74);
                                        @include px2vwm("width", 74);
                                        @include px2vwm("height", 74);
                                        @include px2vwm("font-size", 26);
                                        border-radius: 50%;
                                        background: #051a2c;
                                        @include px2vwm("top", 3);
                                        @include px2vwm("right", -7);
                                    }
                                }
                            }
                        }
                    }
                    .navBtn {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;

                        button {
                            @include px2vwm("top", 100);
                            @include px2vwm("right", 50);

                            img {
                                @include px2vwm("width", 58);
                                @include px2vwm("height", 42);
                            }
                        }
                    }
                    .rightBox {
                        display: none;
                    }
                }
                &.msSection1 {
                    height: auto;
                    margin-bottom: 0;
                    @include px2vwm("padding", 83 0 183);

                    .bgBox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;

                        p {
                            @include px2vwm("margin-top", 1010);
                            @include px2vwm("font-size", 82);
                            @include px2vwm("width", 82);
                            @include px2vwm("margin-right", 20);

                            &:first-child {
                                @include px2vwm("margin-top", 900);
                            }

                            span {
                                @include px2vwm("height", 24);
                            }
                        }
                    }
                    .itemList {
                        @include px2vwm("width", 980);

                        .itemBox {
                            position: relative;
                            @include px2vwm("margin-bottom", 74);

                            &:nth-child(1) {
                                top: 0;
                                margin-top: 0;
                                left: 0;
                            }
                            &:nth-child(2) {
                                top: 0;
                                margin-top: 0;
                                right: 0;
                                @include px2vwm("margin-left", 362);
                            }
                            &:nth-child(3) {
                                top: 0;
                                margin-top: 0;
                                left: 0;
                                @include px2vwm("margin-bottom", 90);
                            }

                            p {
                                @include px2vwm("padding-left", 60);
                                &.p1 {
                                    @include px2vwm("font-size", 34);
                                    @include px2vwm("margin-bottom", 18);
                                }
                                &.p2 {
                                    @include px2vwm("font-size", 60);
                                    @include px2vwm("margin-top", 34);
                                    @include px2vwm("margin-bottom", 30);

                                    span {
                                        &.ep {
                                            @include px2vwm("font-size", 40);
                                            @include px2vwm("margin-right", 16);
                                            @include px2vwm("top", -6);
                                            position: relative;
                                        }
                                        &.em {
                                            @include px2vwm("height", 104);
                                            @include px2vwm("width", 3);
                                            top: 0;
                                            @include px2vwm("left", 20);
                                        }
                                    }
                                }
                            }

                            .imgBox {
                                &:hover {
                                    button {
                                        @include px2vwm("bottom", 50);
                                    }
                                }

                                &.size1 {
                                    @include px2vwm("width", 980);
                                    @include px2vwm("height", 412);
                                }
                                &.size2 {
                                    @include px2vwm("width", 619);
                                    @include px2vwm("height", 856);
                                }
                                &.size3 {
                                    @include px2vwm("width", 781);
                                    @include px2vwm("height", 547);
                                }

                                button {
                                    @include px2vwm("bottom", 50);
                                    @include px2vwm("left", 50);
                                    @include px2vwm("width", 380);
                                    @include px2vwm("height", 93);
                                    @include px2vwm("border-radius", 93);
                                    @include px2vwm("line-height", 93);
                                    @include px2vwm("font-size", 32);
                                }

                                .bgDiv {
                                    @include px2vwm("height", 295);
                                    opacity: 1;
                                }
                                video {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .bannerBox {
                        @include px2vwm("height", 183);
                        bottom: 0;

                        button {
                            @include px2vwm("font-size", 36);

                            strong {
                                font-weight: 400;
                            }

                            img {
                                position: relative;
                                @include px2vwm("width", 70);
                                @include px2vwm("height", 70);
                                @include px2vwm("margin-left", 24);
                            }
                        }
                        .bgBox {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                &.msSection2,
                &.msSection3,
                &.msSection4 {
                    height: auto;
                    @include px2vwm("padding-top", 230);
                    @include px2vwm("padding-bottom", 50);

                    > .pBox {
                        width: 100%;
                        margin-left: auto;
                        @include px2vwm("margin-bottom", 240);
                        text-align: center;

                        > img {
                            position: absolute;
                            @include px2vwm("width", 832);
                            @include px2vwm("height", 461);
                            @include px2vwm("top", -70);
                            @include px2vwm("margin-left", -372);
                            left: 50%;
                        }

                        p {
                            line-height: 1em;

                            &:first-child.p2 {
                                position: relative;
                                top: 0;
                                @include px2vwm("font-size", 36);
                                @include px2vwm("margin-bottom", 40);
                            }
                            &.p1 {
                                @include px2vwm("font-size", 63);
                                @include px2vwm("margin-bottom", 30);
                            }
                            &.p2 {
                                @include px2vwm("font-size", 30);
                                @include px2vwm("margin-bottom", 70);
                            }
                        }
                        button {
                            position: relative;
                            @include px2vwm("width", 136);
                            @include px2vwm("height", 136);
                            right: 0;
                            top: 0;
                        }
                    }
                    > .bgBox {
                        width: 100%;
                        position: absolute;
                        @include px2vwm("height", 936);
                        top: 0;

                        .bgDiv {
                            @include px2vwm("height", 160);
                        }
                    }
                    > .itemList {
                        display: flex;
                        @include px2vwm("width", 980);
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;

                        &.ms_col {
                            flex-direction: column;
                        }

                        .mr {
                            @include px2vwm("margin-right", 25);
                        }
                        .mb {
                            @include px2vwm("margin-bottom", 25);
                        }
                        .ms_mb {
                            @include px2vwm("margin-bottom", 25);
                        }

                        .colBox {
                            &:first-child {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                            }
                            &:last-child {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                        .rowBox {
                            display: flex;
                        }

                        .ms_colBox {
                            flex-direction: column;
                        }

                        .itemBox {
                            display: flex;
                            position: relative;

                            .vodBox {
                                width: 100%;
                            }

                            &.opt1,
                            &.opt6-2 {
                                flex-direction: column;
                                @include px2vwm("width", 475);
                                .vodBox {
                                    width: 100%;
                                    @include px2vwm("height", 355);
                                }
                                .pBox {
                                    width: 100%;
                                    @include px2vwm("height", 445);
                                }
                            }
                            &.opt2 {
                                @include px2vwm("width", 475);
                                @include px2vwm("height", 800);
                                .pBox {
                                    position: absolute;
                                    background: none;
                                    bottom: 0;
                                    top: auto;
                                    left: 0;
                                }
                            }
                            &.opt3 {
                                flex-direction: column;

                                .vodBox {
                                    width: 100%;
                                    @include px2vwm("height", 444);
                                }
                                .pBox {
                                    width: 100%;
                                    @include px2vwm("height", 356);
                                    justify-content: space-between;
                                    flex-direction: row;
                                }
                            }

                            &.opt4 {
                                width: 100%;
                                @include px2vwm("height", 414);

                                &.opt4-1 {
                                    @include px2vwm("height", 541);
                                    display: flex;
                                    justify-content: flex-end;

                                    .vodBox {
                                        width: 100%;
                                        @include px2vwm("width", 528);
                                        @include px2vwm("height", 541);
                                    }
                                    .pBox {
                                        right: auto;
                                        bottom: auto;
                                        left: 0;
                                        top: 50%;
                                        @include px2vwm("margin-top", -100);
                                        padding-left: 0;
                                    }
                                }

                                .pBox {
                                    position: absolute;
                                    background: none;
                                    top: auto;
                                    left: auto;
                                    right: 0;
                                    bottom: 0;
                                }
                            }
                            &.opt5 {
                                flex-direction: row-reverse;
                                @include px2vwm("right", -80);

                                &.opt5-1 {
                                    right: 0;
                                    flex-direction: column;

                                    .vodBox {
                                        width: 100%;
                                        @include px2vwm("height", 444);
                                    }
                                    .pBox {
                                        width: 100%;
                                        @include px2vwm("height", 356);
                                        justify-content: space-between;
                                        flex-direction: row;
                                    }
                                }

                                .vodBox {
                                    @include px2vwm("width", 943);
                                    @include px2vwm("height", 390);
                                }
                                .pBox {
                                    @include px2vwm("width", 323);
                                    @include px2vwm("height", 390);
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: column;
                                }
                            }
                            &.opt6 {
                                flex-direction: column;
                                @include px2vwm("width", 410);

                                &.opt6-1 {
                                    .vodBox {
                                        @include px2vwm("height", 642);
                                    }
                                    .pBox {
                                        background: none;
                                        bottom: 0;
                                        position: absolute;
                                        justify-content: space-between;
                                        display: flex;
                                        flex-direction: column;
                                    }
                                }

                                .vodBox {
                                    width: 100%;
                                    @include px2vwm("height", 191);
                                }
                                .pBox {
                                    width: 100%;
                                    @include px2vwm("height", 225);
                                }
                            }

                            .vodBox {
                                img,
                                video {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .pBox {
                                @include px2vwm("padding", 55);
                                .head {
                                    p {
                                        position: relative;
                                        display: inline;
                                        &::after {
                                            @include px2vw("bottom", -34);
                                            @include px2vwm("height", 10);
                                            @include px2vwm(
                                                "border-radius",
                                                10
                                            );
                                        }
                                    }
                                }
                                .body {
                                    position: absolute;
                                    @include px2vwm("bottom", 55);
                                    @include px2vwm("right", 55);
                                    text-align: right;
                                }
                                p {
                                    font-weight: 300;
                                    @include px2vwm("font-size", 32);
                                    @include px2vwm("margin-bottom", 16);
                                }
                            }
                        }
                    }
                }
                &.msSection5 {
                    @include px2vwm("height", 1710);
                    @include px2vwm("padding-top", 170);

                    @for $i from 1 through 3 {
                        &.mode#{$i} {
                            .centerBox {
                                > .pBox {
                                    .p1 {
                                        display: none;
                                        &.mode#{$i} {
                                            display: block;
                                        }
                                    }
                                }
                                .btnBox {
                                    button.mode#{$i} {
                                        background: #fff;
                                        color: #000;
                                        &::after {
                                            background: url(../static/img/icon_btnArrow.png)
                                                no-repeat;
                                            background-size: contain;
                                        }
                                    }
                                }
                                .itemList {
                                    display: none;

                                    &.mode#{$i} {
                                        display: flex;
                                    }
                                }
                            }
                            .bgBox {
                                img {
                                    &.mode#{$i}.ms_tab {
                                        display: block !important;
                                    }
                                    &.mode#{$i}.ms_nontab {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }

                    .centerBox {
                        @include px2vwm("width", 980);

                        > .pBox {
                            @include px2vwm("padding-left", 50);

                            p {
                                &.p1 {
                                    @include px2vwm("font-size", 70);
                                    @include px2vwm("margin-bottom", 30);
                                }
                                &.p2 {
                                    @include px2vwm("font-size", 34);
                                }
                                &.mb {
                                    @include px2vwm("margin-bottom", 50);
                                }
                            }
                        }

                        .btnBox {
                            top: 0;
                            @include px2vwm("margin-top", 90);
                            @include px2vwm("margin-bottom", 100);
                            justify-content: space-between;
                            display: flex;

                            button {
                                @include px2vwm("width", 314);
                                @include px2vwm("height", 118);
                                margin: 0;
                                @include px2vwm("border-radius", 118);
                                @include px2vwm("font-size", 34);

                                img {
                                    @include px2vwm("margin-left", 16);
                                    @include px2vwm("width", 25);
                                    @include px2vwm("height", 15);
                                }
                            }
                        }
                        .itemList {
                            width: auto;
                            overflow-x: scroll;

                            .itemBox {
                                position: relative;
                                @include px2vwm("margin-right", 60);

                                &::after {
                                    display: none;
                                }

                                &.half {
                                    .rowBox1 {
                                        img {
                                            @include px2vwm("width", 862);
                                            @include px2vwm("height", 574);
                                        }
                                    }
                                }
                                .rowBox1 {
                                    position: relative;
                                    @include px2vwm("height", 574);

                                    .pBox {
                                        position: absolute;
                                        @include px2vwm("top", 67);
                                        @include px2vwm("left", 67);

                                        p {
                                            &.p1 {
                                                @include px2vwm(
                                                    "font-size",
                                                    50
                                                );
                                                @include px2vwm(
                                                    "margin-bottom",
                                                    18
                                                );
                                            }
                                            &.p2 {
                                                @include px2vwm(
                                                    "font-size",
                                                    30
                                                );
                                            }
                                        }
                                    }
                                    img {
                                        @include px2vwm("width", 862);
                                        @include px2vwm("height", 574);
                                    }
                                }
                                .rowBox2 {
                                    @include px2vwm("height", 324);
                                    @include px2vwm("padding", 60 40);

                                    p {
                                        line-height: 1em;
                                        @include px2vwm("font-size", 36);
                                        @include px2vwm("margin-bottom", 16);

                                        &.ms_ib {
                                            display: inline-block;
                                        }

                                        &.mb {
                                            @include px2vwm(
                                                "margin-bottom",
                                                40
                                            );
                                        }
                                    }
                                }
                            }
                        }
                    }
                    > .bgBox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        img,
                        video {
                            @include px2vwm("height", 910);
                            &.ms_tab {
                                display: none !important;
                            }
                        }
                    }
                }
                &.footer {
                    @include px2vwm("height", 250);
                    .centerBox {
                        @include px2vwm("width", 980);
                        @include px2vwm("padding-top", 110);
                        box-sizing: border-box;

                        .pBox {
                            p {
                                display: flex;
                                flex-direction: column-reverse;
                                line-height: 1em;
                                @include px2vwm("padding-left", 14);

                                span {
                                    color: #e7e7e7;
                                    &.s1 {
                                        @include px2vwm("font-size", 28);
                                        opacity: 0.4;
                                        margin-right: 0;
                                    }
                                    &.s2 {
                                        @include px2vwm("font-size", 36);
                                        @include px2vwm("margin-bottom", 16);
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                        .topBtn {
                            @include px2vwm("font-size", 36);
                            top: 0;

                            &::after {
                                @include px2vwm("width", 35);
                                @include px2vwm("height", 21);
                            }
                        }
                    }
                }
            }
        }

        &.menuWrapper {
            .topstach {
                @include px2vwm("height", 140);
                @include px2vwm("top", -140);

                &.on {
                    top: 0;
                }

                .centerBox {
                    width: 100vw;
                    justify-content: flex-end;

                    p {
                        @include px2vwm("font-size", 38);
                        @include px2vwm("line-height", 140);
                        text-align: right;
                    }

                    button {
                        @include px2vwm("height", 140);
                        @include px2vwm("margin-right", 50);
                        @include px2vwm("margin-left", 50);
                        img {
                            @include px2vwm("width", 58);
                            @include px2vwm("height", 42);
                        }
                    }
                }
            }
            .menuBox {
                .menuDiv {
                    width: 100vw;
                    @include px2vwm("height", 1700);

                    .centerBox {
                        width: 100%;
                        @include px2vwm("padding-top", 150);

                        .closeBtn {
                            @include px2vwm("width", 56);
                            @include px2vwm("height", 56);
                            @include px2vwm("top", 40);
                            @include px2vwm("right", 50);

                            img {
                                @include px2vwm("width", 56);
                                @include px2vwm("height", 56);
                            }
                        }

                        .headBox {
                            @include px2vwm("margin-bottom", 70);
                            @include px2vwm("padding-left", 50);

                            span {
                                &.big {
                                    @include px2vwm("font-size", 60);
                                    @include px2vwm("margin-right", 40);
                                }
                                &.small {
                                    @include px2vwm("font-size", 32);
                                }
                            }
                        }

                        .bodyBox {
                            flex-direction: column;
                            @include px2vwm("width", 980);
                            margin: auto;

                            > .colBox {
                                > div:first-child {
                                    text-align: right;
                                    > p {
                                        @include px2vwm("font-size", 40);
                                        @include px2vwm("margin-bottom", 50);
                                    }
                                }

                                .itemList {
                                    &.opt1 {
                                        overflow-x: scroll;
                                        @include px2vwm("margin-bottom", 90);
                                        .itemBox {
                                            @include px2vwm("width", 600);
                                            @include px2vwm("height", 466);
                                            @include px2vwm("margin-right", 30);
                                            overflow: visible;

                                            &:hover {
                                                button {
                                                    opacity: 0;
                                                }
                                                .bgGrad {
                                                    opacity: 1;
                                                }
                                            }

                                            .pBox {
                                                @include px2vwm("left", 70);
                                                @include px2vwm("bottom", 50);
                                                @include px2vwm(
                                                    "font-size",
                                                    36
                                                );

                                                p {
                                                    &:first-child {
                                                        @include px2vwm(
                                                            "margin-bottom",
                                                            18
                                                        );
                                                    }

                                                    span {
                                                        width: 1px;
                                                        @include px2vwm(
                                                            "height",
                                                            40
                                                        );
                                                        @include px2vwm(
                                                            "margin-right",
                                                            16
                                                        );
                                                        @include px2vwm(
                                                            "top",
                                                            5
                                                        );
                                                    }
                                                }
                                            }
                                            img {
                                                &.bgImg {
                                                    position: relative;
                                                    @include px2vwm(
                                                        "width",
                                                        600
                                                    );
                                                    @include px2vwm(
                                                        "height",
                                                        466
                                                    );
                                                }
                                                &.colorImg {
                                                    position: absolute;
                                                    opacity: 1;
                                                }
                                            }
                                            .bgGrad {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                    &.opt2 {
                                        width: 100%;
                                        .colBox {
                                            &:first-child {
                                                @include px2vwm("width", 359);
                                                @include px2vwm(
                                                    "margin-right",
                                                    30
                                                );
                                                img {
                                                    @include px2vwm(
                                                        "width",
                                                        359
                                                    );
                                                    @include px2vwm(
                                                        "height",
                                                        420
                                                    );
                                                }
                                            }
                                            &:last-child {
                                                @include px2vwm("width", 591);
                                                > div:first-child {
                                                    @include px2vwm(
                                                        "margin-bottom",
                                                        30
                                                    );
                                                }
                                                img {
                                                    @include px2vwm(
                                                        "width",
                                                        591
                                                    );
                                                    @include px2vwm(
                                                        "height",
                                                        196
                                                    );
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .footBox {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            display: flex;
                            width: 100%;

                            a {
                                @include px2vwm("height", 115);
                                @include px2vwm("line-height", 114);
                                @include px2vwm("font-size", 32);
                            }
                        }
                    }
                }
            }
        }

        &.modalWrapper {
            display: none;
            opacity: 0;
            transition: all 0.3s;
            z-index: 5;
            justify-content: center;
            align-items: center;

            &.on {
                display: flex;
                opacity: 1;
            }

            .bgDiv {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background: #000;
                opacity: 0.9;
                .btnWrap {
                    width: 100%;
                    max-width: 1420px;
                    margin: auto;
                    position: relative;
                    .modalCloseBtn {
                        position: absolute;
                        right: 0px;
                        top: 34px;
                    }
                }
            }

            iframe {
                z-index: 3;
                width: 1280px;
                height: 720px;
                max-height: calc(100% - 160px);
            }
        }
    }
}
@media (max-width: 540px) {
}
