@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans KR Thin'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2') format('woff2'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff') format('woff'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2') format('woff2'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff') format('woff'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2') format('woff2'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff') format('woff'),
  url('//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Kia';
  src: url('./font/KiaSignatureBold.eot');
  src: url('./font/KiaSignatureBold.eot?#iefix') format('embedded-opentype'),
      url('./font/KiaSignatureBold.woff2') format('woff2'),
      url('./font/KiaSignatureBold.woff') format('woff'),
      url('./font/KiaSignatureBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kia';
  src: url('./font/KiaSignatureRegular.eot');
  src: url('./font/KiaSignatureRegular.eot?#iefix') format('embedded-opentype'),
      url('./font/KiaSignatureRegular.woff2') format('woff2'),
      url('./font/KiaSignatureRegular.woff') format('woff'),
      url('./font/KiaSignatureRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kia';
  src: url('./font/KiaSignatureLight.eot');
  src: url('./font/KiaSignatureLight.eot?#iefix') format('embedded-opentype'),
      url('./font/KiaSignatureLight.woff2') format('woff2'),
      url('./font/KiaSignatureLight.woff') format('woff'),
      url('./font/KiaSignatureLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
