// FIXME 소스보낼땐 삭제
body,
html {
	margin: 0;
}

// pc
.ms_k8-section-wrap {
	// kia.com header - 160px
	font-family: 'Kia', 'Noto Sans KR', Arial, sans-serif;
	font-weight: 400;
	color: #fff;
	height: calc(100vh - 160px);
	min-height: 580px;
	max-height: 740px;
	max-width: 1920px;
	width: 100%;
	margin: auto;
	overflow: hidden;
	background: #000;
	position: relative;
	> section {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		.contentWrap > div {
			position: relative;
			z-index: 2;
		}

		&.msSection0 {
			.fixWrap {
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 3;

				.navBox {
					position: absolute;
					top: 50px;
					left: 50%;
					margin-left: -710px;
					width: 1420px;
					z-index: 3;
					display: flex;
					flex-direction: row-reverse;
					li {
						cursor: pointer;
						font-size: 18px;
						padding: 4px 16px;
						color: #999;
						position: relative;

						&.on {
							color: #fff;
							cursor: auto;
							&:after {
								display: block;
							}
						}
						&:hover {
							color: #fff;
							text-decoration: underline;
						}

						&::after {
							position: absolute;
							bottom: -20px;
							left: 50%;
							margin-left: -7px;
							width: 14px;
							height: 10px;
							display: none;
							content: '';
							background: url('../static/img/arrow-down.png') no-repeat;
							background-size: 14px 10px;
						}
					}
				}
				.boxWrap {
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: 698px;

					.topMargin {
						width: 0;
						height: 25vh;
						max-height: 230px;
					}
					.rightBox {
						width: 12px;
						display: flex;
						flex-direction: column;
						span {
							margin-bottom: 24px;
							font-size: 12px;
							display: block;
							width: 12px;
							text-align: center;
							color: #818181;
							&.on {
								color: #fff;
							}
							&.em {
								position: relative;
								left: 5px;
								background: #fff;
								width: 1px;
								height: 128px;
							}
						}
					}
				}
			}
			.fixWrap2 {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				z-index: 3;
				.bgDiv {
					background: #061221;
					height: 50px;
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 1;
					a {
						bottom: 4px;
						position: absolute;
						left: 50%;
						margin-left: 330px;
					}
				}
				.botBox {
					position: absolute;
					bottom: 80px;
					left: 0;
					text-align: center;
					width: 100%;
					.lightDiv {
						width: 8px;
						height: 26px;
						margin: 0 auto 25px;

						span {
							display: block;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: #fff;
							margin-bottom: 2px;

							&:nth-child(1) {
								animation: 2s 0s ease-in infinite light-1;
							}
							&:nth-child(2) {
								animation: 2s 0s ease-in infinite light-2;
							}
							&:nth-child(3) {
								animation: 2s 0s ease-in infinite light-3;
							}

							@keyframes light-1 {
								from {
									opacity: 0;
								}
								10% {
									opacity: 0.4;
								}
								40% {
									opacity: 0.4;
								}
								60% {
									opacity: 0;
								}
								to {
									opacity: 0;
								}
							}

							@keyframes light-2 {
								from {
									opacity: 0;
								}
								30% {
									opacity: 0.7;
								}
								50% {
									opacity: 0.7;
								}
								70% {
									opacity: 0;
								}
								to {
									opacity: 0;
								}
							}
							@keyframes light-3 {
								from {
									opacity: 0;
								}
								50% {
									opacity: 1;
								}

								60% {
									opacity: 1;
								}
								80% {
									opacity: 0;
								}

								to {
									opacity: 0;
								}
							}
						}
					}
					p {
						font-size: 12px;
						animation: 2s 0s ease-in infinite light-4;

						@keyframes light-4 {
							from {
								opacity: 0;
							}
							30% {
								opacity: 0;
							}
							60% {
								opacity: 1;
							}

							80% {
								opacity: 1;
							}
							to {
								opacity: 0;
							}
						}
					}
				}
			}
			.contentWrap {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				transition: all 0.5s;

				&.top {
					top: -100%;
				}
				&.center {
					top: 0px;
					z-index: 2;
					p,
					.btn-1 {
						opacity: 0;
						top: -10px;
					}
				}
				&.bottom {
					top: 100%;
				}
				&.none {
					display: none;
				}

				.centerBox {
					width: 100%;
					max-width: 1420px;
					margin: 0 auto 0;
					.topMargin {
						height: 25vh;
						max-height: 230px;
					}
					.boxWrap {
						display: flex;
						.leftBox {
							width: calc(100% - 12px);
							p {
								position: relative;
								&.p1 {
									font-size: 16px;
									margin-bottom: 28px;
								}
								&.p2 {
									font-size: 56px;
									margin-bottom: 40px;
								}
								&.p3 {
									font-size: 20px;
									margin-bottom: 46px;
								}

								&.lh {
									line-height: 1.5em;
								}

								&.mt {
									margin-top: 42px;
								}
							}

							button {
								width: 235px;
								height: 56px;
							}
						}
					}
				}

				.bgWrap {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 50%;
					margin-left: -960px;
					width: 1920px;
					height: 100%;
					display: flex;
					justify-content: center;
					video,
					img {
						min-height: 100%;
						// min-width: 100%;
					}
				}
			}
		}

		&.msSection1 {
			z-index: 3;
			top: 100%;
			transition: all 0.5s;
			background-color: #000000;
			overflow: hidden;

			&.on {
				top: 0;
				.contentList {
					.contentBox {
						&.center {
							.bgWrap {
								img {
									opacity: 1;
								}
							}
						}
					}
				}
			}

			.fixedBox {
				width: 1420px;
				top: 0;
				left: 50%;
				margin-left: -710px;
				position: absolute;
				z-index: 2;

				.closeBtn {
					position: absolute;
					right: 0;
					top: 40px;
					z-index: 3;
				}
				.navBox {
					position: absolute;
					right: 0;
					top: 0px;
					display: none;

					&.on {
						display: block;
					}
					.topMargin {
						height: 18vh;
						max-height: 190px;
					}
					.boxWrap {
						display: flex;
					}

					.navNames {
						> li {
							font-size: 12px;
							opacity: 0.15;
							text-align: right;
							transition: all 0.3s;
							&.on {
								opacity: 1;
							}

							button {
								padding: 0 15px;
								height: 70px;
							}
						}
					}
					.navBarBox {
						width: 2px;
						height: 280px;
						background-color: #5e5e60;
						position: relative;
						.navBar {
							position: relative;
							top: 0;
							transition: all 0.3s;
							width: 2px;
							height: 70px;
							background-color: #fff;

							@for $i from 0 through 3 {
								&.top#{$i} {
									top: $i * 70px;
								}
							}
						}
					}
				}
			}

			.contentList {
				width: 100%;
				height: 100%;
				z-index: 1;
				position: relative;

				.contentBox {
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					transition: all 0.3s;
					background: #000;

					&.top {
						top: -100%;
					}
					&.center {
						top: 0;
						z-index: 2;
					}
					&.bottom {
						top: 100%;
					}

					&:nth-child(1) {
					}
					&:nth-child(2) {
						color: #000;
						.pBox {
							.body {
								.em {
									background: #000;
								}
							}
							.footer {
								button {
									span {
										color: #000;
									}
								}
							}
						}
					}
					&:nth-child(3) {
					}
					&:nth-child(4) {
					}

					&:nth-child(5) {
						.fixedDiv {
							position: absolute;
							top: 0;
							left: 50%;
							margin-left: -710px;
							z-index: 3;
							.pBox {
								width: 311px;
								margin: 0;
								left: 0;
								top: 190px;
							}
						}
						.scrollBox {
							z-index: 2;
							width: calc(100% + 16px);
							overflow-y: auto;
							overflow-x: hidden;
							position: relative;
							height: 100%;
						}

						.centerBox {
							margin: 45px auto 180px;
							width: 1420px;

							.gridBox {
								padding: 0 55px;
								box-sizing: border-box;
								.rowBox {
									display: flex;
									flex-direction: row;
									justify-content: flex-end;
									margin-bottom: 10px;
									> div {
										margin-left: 10px;
										position: relative;
									}
									&.rightPadding {
										padding-right: 377px;
									}
								}
							}
							.movieBox {
								padding-right: 203px;

								.btnDiv {
									display: flex;
									justify-content: flex-end;
									margin-bottom: 10px;
								}
								button {
									position: relative;
									p {
										position: absolute;
										font-size: 24px;
										text-decoration: underline;
										left: 40px;
										bottom: 40px;
									}
									.playImg {
										position: absolute;
										width: 65px;
										height: 67px;
										top: 50%;
										left: 50%;
										margin: -32px 0 0 -33px;
									}
								}

								.flexDiv {
									display: flex;
									flex-direction: row-reverse;
									button {
										&:first-child {
											margin-left: 10px;
										}
									}
								}
							}
							img {
								&.size1 {
									width: 233px;
									height: 233px;
								}
								&.size2 {
									width: 440px;
									height: 233px;
								}
								&.size3 {
									width: 682px;
									height: 143px;
								}
								&.size4 {
									width: 540px;
									height: 340px;
								}
								&.size5 {
									width: 367px;
									height: 233px;
								}
								&.size6 {
									width: 784px;
									height: 360px;
								}
								&.size7 {
									width: 386px;
									height: 350px;
								}
							}
						}

						.footerBox {
							position: relative;
							.bgDiv {
								display: flex;
								justify-content: center;
							}
							.pDiv {
								position: absolute;
								height: 100%;
								top: 0;
								left: 50%;
								margin-left: -95px;
								box-sizing: border-box;

								a {
									text-decoration: none;
									color: #fff;
									display: flex;
									line-height: 80px;
									&:hover {
										text-decoration: underline;
									}
								}
								.big {
									font-size: 18px;
									margin-right: 4px;
								}

								.small {
									color: #4f5862;
									font-size: 12px;
									text-decoration: underline;
									span {
										display: inline-block;
										margin-left: 2px;
										width: 8px;
										height: 12px;
										position: relative;
										top: 1px;
										background: url(../static/img/icon-triangle.png) no-repeat;
									}
								}
								img {
									position: absolute;
									top: -73px;
									left: 240px;
								}
							}
						}
					}

					.pBox {
						width: 1420px;
						margin: 0 0 0 -710px;
						left: 50%;
						position: absolute;
						z-index: 1;
						.topMargin {
							height: 18vh;
							max-height: 190px;
						}
						.flexWrap {
							display: block;
						}
						.head {
							font-size: 20px;
							margin-bottom: 25px;
							position: relative;
						}
						.body {
							display: flex;
							margin-bottom: 40px;
							.em {
								position: relative;
								width: 2px;
								height: 260px;
								background: #fff;
								margin: 0 30px 0 10px;
							}
							.flexDiv {
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								p {
									position: relative;
								}
								.bold {
									font-size: 40px;
									font-weight: 700;
									p {
										margin-bottom: 20px;
									}
								}
								.regular {
									font-size: 16px;
									p {
										margin-top: 8px;
									}
								}
								.big {
									font-size: 60px;
								}
							}
						}
						.footer {
							button {
								position: relative;
								left: -38px;
								display: flex;
								span {
									position: relative;
									top: 30px;
									left: 5px;
									font-size: 20px;
								}
							}
						}
					}
					.bgWrap {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							opacity: 0;
							transition: all 1.5s;
						}
					}
				}
			}
		}

		&.modalWrapper {
			display: none;
			opacity: 0;
			transition: all 0.3s;
			z-index: 5;
			justify-content: center;
			align-items: center;

			&.on {
				display: flex;
				opacity: 1;
			}

			.bgDiv {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 2;
				background: #000;
				opacity: 0.9;
				.btnWrap {
					width: 100%;
					max-width: 1420px;
					margin: auto;
					position: relative;
					.modalCloseBtn {
						position: absolute;
						right: 20px;
						top: 20px;
					}
				}
			}

			iframe {
				z-index: 3;
				width: 1280px;
				height: 720px;
			}
		}

		// content common
		.logo {
			width: 100%;
			max-width: 1420px;
			margin: 50px auto 0;
			img {
				width: 100px;
			}
		}

		.btn-1 {
			overflow: hidden;
			position: relative;
			height: 56px;
			border: 1px solid #fff;
			color: #fff;
			background: transparent;
			transition: all 0.25s;
			cursor: pointer;

			span {
				position: relative;
				z-index: 1;
				transition: all 0.2s;
			}

			&::after {
				background: #fff;
				position: absolute;
				top: -1px;
				display: block;
				content: '';
				left: -100%;
				width: 100%;
				height: calc(100% + 1px);
				transition: all 0.25s;
			}

			&:hover {
				color: #000;
				span {
					color: #000;
				}
				&::after {
					left: 0;
				}
			}
		}
		.btn-2 {
			padding: 20px;
			font-size: 16px;
			position: relative;
			color: #7e8284;

			&.on {
				text-decoration: underline;
				color: #fff;

				&::before,
				&::after {
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -9px;
					display: block;
					content: '';
					background: #fff;
					width: 10px;
					height: 2px;
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
					margin-left: -3px;
				}
			}
		}
	}

	// common
	& {
		.ms_mo {
			display: none !important;
		}
		.ms_pc2 {
			display: block !important;
		}

		.ms_tab,
		.ms_tabInline {
			display: none !important;
		}
		.ms_nontab {
			display: block !important;
		}
		.ms_nontabInline {
			display: inline !important;
		}
		.hide {
			display: none !important;
		}
		img {
			display: block;
			user-select: none;
			-webkit-user-drag: none;
			-khtml-user-drag: none;
			-moz-user-drag: none;
			-o-user-drag: none;
		}

		button {
			background: transparent;
			padding: 0;
			border: 0;
			outline: 0;
			color: #fff;
			cursor: pointer;
		}
		.unselectable {
			-webkit-user-select: none;
			-webkit-touch-callout: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.fs52 {
			font-size: 52px;
		}
		.fs20 {
			font-size: 20px;
		}
		.fs40 {
			font-size: 40px;
		}
		.fs16 {
			font-size: 16px;
		}
		.fs90 {
			font-size: 90px;
		}
		.fs24 {
			font-size: 24px;
		}
		.fs70 {
			font-size: 70px;
		}
		.fs14 {
			font-size: 14px;
		}
		.fs16 {
			font-size: 16px;
		}
		.fs16 {
			font-size: 16px;
		}
		.fs16 {
			font-size: 16px;
		}
		.col_gray {
			color: #3c3c3c;
		}
	}

	// reset
	& {
		html,
		body,
		div,
		span,
		applet,
		object,
		iframe,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		blockquote,
		pre,
		a,
		abbr,
		acronym,
		address,
		big,
		cite,
		code,
		del,
		dfn,
		em,
		img,
		ins,
		kbd,
		q,
		s,
		samp,
		small,
		strike,
		strong,
		sub,
		sup,
		tt,
		var,
		b,
		u,
		i,
		center,
		dl,
		dt,
		dd,
		ol,
		ul,
		li,
		fieldset,
		form,
		label,
		legend,
		table,
		caption,
		tbody,
		tfoot,
		thead,
		tr,
		th,
		td,
		article,
		aside,
		canvas,
		details,
		embed,
		figure,
		figcaption,
		footer,
		header,
		hgroup,
		menu,
		nav,
		output,
		ruby,
		section,
		summary,
		time,
		mark,
		audio,
		video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		menu,
		nav,
		section {
			display: block;
		}
		body {
			line-height: 1;
		}
		line-height: 1;
		ol,
		ul {
			list-style: none;
		}
		blockquote,
		q {
			quotes: none;
		}
		blockquote:before,
		blockquote:after,
		q:before,
		q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
	}
}
@media (max-width: 1520px) {
	.ms_k8-section-wrap {
		> section {
			&.msSection0 {
				.contentWrap {
					.centerBox {
						.boxWrap {
							.leftBox {
								padding-left: 20px;
							}
						}
					}
				}
			}
			&.msSection1 {
				.contentList {
					.contentBox {
						&:nth-child(5) {
							.fixedDiv {
								.pBox {
									padding-left: 20px;
								}
							}
						}
						.pBox {
							width: 1300px;
							margin: 0 0 0 -650px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1420px) {
	.ms_k8-section-wrap {
		> section {
			&.msSection0 {
				.fixWrap {
					.navBox {
						margin: 0;
						left: 0;
						width: 100%;
					}
					.boxWrap {
						left: calc(100% - 27px);
						margin: 0;
					}
				}
				.fixWrap2 {
					.bgDiv {
						a {
							left: auto;
							right: 20px;
							margin: 0;
						}
					}
				}
				.contentWrap {
					.centerBox {
						.boxWrap {
							.leftBox {
								padding-left: 30px;
							}
						}
					}
				}
			}

			&.msSection1 {
				.fixedBox {
					width: calc(100% - 30px);
					left: auto;
					margin: 0;
				}
				.contentList {
					.contentBox {
						&:nth-child(5) {
							.fixedDiv {
								z-index: 3;
								left: auto;
								margin: 0;
								.pBox {
									left: 0;
									margin: 0;
								}
							}
							.centerBox {
								margin: 45px 0 180px;
								width: calc(100% - 16px);
								.gridBox {
									padding: 0 70px;
								}
								.movieBox {
									padding-right: 204px;
								}
							}
						}
						.pBox {
							padding-left: 60px;
							margin: 0;
							left: auto;
							width: 100%;
							box-sizing: border-box;
						}
					}
				}
			}
			&.msSection2 {
				.centerWrap {
					.closeBtnBox {
						right: 36px;
					}
				}
			}

			&.modalWrapper {
				iframe {
					width: 720px;
					height: 480px;
				}
			}

			.logo {
				padding-left: 18px;
			}
		}
	}
}

// 태블릿, 모바일
@media (max-width: 1024px) {
	// header 110px
	.ms_k8-section-wrap {
		height: calc(100vh - 150px);
		max-height: 740px;
		min-height: 740px;
		> section {
			&.msSection0 {
				.fixWrap {
					.navBox {
						justify-content: center;
					}
					.boxWrap {
						.topMargin {
							height: 22vh;
							max-height: 175px;
						}
					}
				}
				.fixWrap2 {
					.bgDiv {
						a {
							bottom: 14px;
							right: 10px;
							img {
								height: 30vh;
								max-height: 230px;
							}
						}
					}
					.botBox {
						text-align: left;
						.lightDiv {
							margin: 0 0 25px 50px;
						}
						p {
							padding-left: 50px;
						}
					}
				}
				.contentWrap {
					.centerBox {
						.topMargin {
							height: 22vh;
							max-height: 175px;
						}
						.boxWrap {
							.leftBox {
								p {
									&.p1 {
										font-size: 14px;
										margin-bottom: 25px;
									}
									&.p2 {
										font-size: 42px;
										margin-bottom: 25px;
										span {
											display: block;
											height: 20px;
										}
									}
									&.p3 {
										font-size: 17px;
										margin-bottom: 40px;
									}
									&.mt {
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}
			&.msSection1 {
				.fixedBox {
					width: calc(100% - 15px);
					.closeBtn {
						top: 24px;
					}
					.navBox {
						.topMargin {
							max-height: 150px;
						}
						.navBarBox {
							height: 240px;
							.navBar {
								height: 60px;

								@for $i from 0 through 3 {
									&.top#{$i} {
										top: $i * 60px;
									}
								}
							}
						}
					}
				}
				.contentList {
					.contentBox {
						&:nth-child(2) {
							.pBox {
								.topMargin {
									max-height: 240px;
								}
								.head {
									.em {
										background: #000;
									}
								}
							}
						}
						&:nth-child(5) {
							.fixedDiv {
								.pBox {
									top: 432px;
								}
							}
							.pBox {
								.topMargin {
									height: calc(100vh - 260px);
									max-height: 370px;
								}
								.flexWrap {
									position: relative;
									bottom: 0;
								}
								.body {
									margin-bottom: 12px;
								}
							}
							.centerBox {
								margin: 75px 0 280px;
								.gridBox {
									padding: 0 30px;
									.rowBox {
										&.rightPadding {
											padding: 0;
										}
									}
								}
								.movieBox {
									padding: 0;
									justify-content: center;
									.btnDiv {
										justify-content: center;
									}
									.flexDiv {
										flex-wrap: wrap;
										justify-content: flex-end;
										flex-direction: row;
										padding-right: 30px;
										button {
											&:first-child {
												margin-bottom: 10px;
											}
										}
									}

									p {
										bottom: 60px;
									}
								}
								img {
									&.size1 {
										width: auto;
										height: 26vw;
									}
									&.size2 {
										width: auto;
										height: 26vw;
									}
									&.size3 {
										width: auto;
										height: 14vw;
									}
									&.size4 {
										width: auto;
										height: 25vw;
									}
									&.size5 {
										width: auto;
										height: 25vw;
									}
									&.size6 {
										width: calc(100vw - 60px);
										height: auto;
									}
									&.size7 {
										width: 50vw;
									}
								}
							}
							.footerBox {
								.bgDiv {
									justify-content: flex-end;
								}
								.pDiv {
									width: 100%;
									left: 0;
									margin: 0;
									img {
										top: auto;
										left: auto;
										right: 20px;
										bottom: 30px;
										width: 50vw;
										max-width: 430px;
									}
								}
							}
						}
						.pBox {
							padding-left: 34px;
							height: 100%;

							.blockSpan {
								display: block;
							}
							.topMargin {
								// height: calc(100vh - 360px);
								// max-height: 370px;
								display: none;
							}
							.flexWrap {
								display: flex;
								flex-direction: column-reverse;
								position: absolute;
								bottom: 60px;
							}
							.head {
								line-height: 32px;
								margin: 0;
								.em {
									position: absolute;
									top: 0;
									left: 45px;
									width: 1px;
									height: 32px;
									background: #fff;
								}
							}

							.body {
								margin-bottom: 35px;

								.flexDiv {
									.bold {
										margin-bottom: 8px;
										font-size: 35px;
									}
									.tabInline {
										display: inline-block;
									}
								}
							}
							.footer {
								margin-bottom: 28px;
								> img {
									height: 44px;
								}
								button {
									left: 0;
									img {
										height: 70px;
									}
									span {
										top: 23px;
										font-size: 15px;
									}
								}
							}
						}
					}
				}
			}
		}

		.ms_tab {
			display: block !important;
		}
		.ms_tabInline {
			display: inline !important;
		}
		.ms_nontab {
			display: none !important;
		}
		.ms_nontabInline {
			display: none !important;
		}
	}
}

@media (max-width: 767px) {
	// header 116px
}

// 모바일 500
@media (max-width: 540px) {
	.ms_k8-section-wrap {
		min-height: 640px;
		> section {
			&.msSection0 {
				.fixWrap2 {
					.bgDiv {
						a {
							img {
								height: auto;
								width: 50vw;
							}
						}
					}
				}
				.contentWrap {
					.centerBox {
						.boxWrap {
							.leftBox {
								p {
									&.p1 {
										font-size: 2.7vw;
										margin-bottom: 25px;
									}
									&.p2 {
										font-size: 8.3vw;
										margin-bottom: 25px;
										span {
											display: block;
											height: 20px;
										}
									}
									&.p3 {
										font-size: 3.3vw;
										margin-bottom: 40px;
									}
									&.mt {
										margin-top: 0;
									}
								}
								button {
									width: 31.4vw;
									font-size: 3.3vw;
								}
							}
						}
					}
				}
			}
			&.msSection1 {
				.fixedBox {
					.closeBtn {
						img {
							width: 4.6vw;
						}
					}
					.navBox {
						.navNames {
							> li {
								button {
									height: 60px;
									font-size: 3vw;
								}
							}
						}
					}
				}
				.contentList {
					.contentBox {
						&:nth-child(2) {
							color: #fff;
							.pBox {
								.head {
									.em {
										background-color: #fff;
									}
								}
								.body {
									.em {
										background: #fff;
									}
								}
								.footer {
									button {
										span {
											color: #fff;
										}
									}
								}
							}
						}
						&:nth-child(5) {
							.fixedDiv {
								.pBox {
									top: 80vw;
								}
							}
							.footerBox {
								.bgDiv {
									img {
										height: 40px;
									}
								}
								.pDiv {
									img {
										bottom: 15px;
									}
								}
							}
						}
						.pBox {
							.topMargin {
								max-height: 330px;
							}
							.head {
								font-size: 3.3vw;
								line-height: 6vw;
								.em {
									left: 8.3vw;
									height: 6vw;
								}
							}
							.body {
								margin-bottom: 6.4vw;
								.flexDiv {
									.bold {
										font-size: 6.4vw;
										margin-bottom: 1vw;
										p {
											margin-bottom: 4.2vw;
										}
									}
									.regular {
										font-size: 3vw;
										p {
											margin-top: 0;
											&:first-child {
												margin-bottom: 1.6vw;
											}
										}
									}
									.big {
										font-size: 5.5vw;
									}
								}
							}
							.footer {
								margin-bottom: 5.5vw;
								> img {
									height: auto;
									width: 11vw;
								}
								button {
									img {
										height: auto;
										width: 13vw;
									}
									span {
										top: 4.6vw;
										font-size: 3vw;
									}
								}
							}
						}
						.bgWrap {
							img {
								height: 730px;
							}
						}
					}
				}
			}
		}
		.ms_mo {
			display: block !important;
		}
		.ms_pc {
			display: none !important;
		}
	}
}

@media (max-height: 756px) and (max-width: 1024px) {
}

@media (max-width: 400px) {
	.ms_k8-section-wrap {
		.ms_pc2 {
			display: none !important;
		}
	}
}
