@charset "UTF-8";
.ms_k8-section-wrap {
  font-family: 'Kia', 'Noto Sans KR', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  height: 970px;
  max-width: 1920px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #000;
  position: relative;
  line-height: 1;
}

.ms_k8-section-wrap > section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ms_k8-section-wrap > section h2 {
  display: none;
}

.ms_k8-section-wrap > section > .center-wrap {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 70px;
  max-width: 1420px;
  position: relative;
  z-index: 1;
}

.ms_k8-section-wrap > section > .center-wrap.full {
  max-width: 100%;
}

.ms_k8-section-wrap > section .bg-wrap {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  height: 100%;
}

.ms_k8-section-wrap .ms-section0 .logo {
  margin-bottom: 60px;
}

.ms_k8-section-wrap .ms-section0 .logo img {
  width: 97px;
  height: 26px;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.ms_k8-section-wrap .ms-section0 .p-box {
  text-align: center;
}

.ms_k8-section-wrap .ms-section0 .p-box p {
  top: -20px;
  opacity: 0;
  position: relative;
  margin-bottom: 30px;
  font-weight: 300;
}

.ms_k8-section-wrap .ms-section0 .p-box p span {
  position: relative;
  font-weight: 700;
}

.ms_k8-section-wrap .ms-section0 .bg-wrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ms_k8-section-wrap .ms-section1 {
  width: 100%;
  height: 100%;
  background: #1b1f24;
  top: 100%;
  z-index: 1;
}

.ms_k8-section-wrap .ms-section1 .box-tb {
  width: 1684px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
}

.ms_k8-section-wrap .ms-section1 .box-tb button {
  width: 92px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

.ms_k8-section-wrap .ms-section1 .box-tb .line {
  display: block;
  background: #262a2e;
  height: 2px;
  width: calc(100% - 92px);
}

.ms_k8-section-wrap .ms-section1 .box-tb.top-box {
  top: 80px;
  left: 0;
}

.ms_k8-section-wrap .ms-section1 .box-tb.top-box button {
  text-align: left;
  background: url(../static/img/arrow_l_white.png) no-repeat left;
  background-size: 15px 13px;
  padding-left: 22px;
}

.ms_k8-section-wrap .ms-section1 .box-tb.bottom-box {
  right: 0;
  bottom: 64px;
}

.ms_k8-section-wrap .ms-section1 .box-tb.bottom-box button {
  background: url(../static/img/arrow_r_gray.png) no-repeat right;
  background-size: 15px 13px;
  padding-right: 22px;
  text-align: right;
  font-weight: 700;
  color: #4e4e4e;
}

.ms_k8-section-wrap .ms-section1 .p-box {
  text-align: center;
  margin: 90px 0 100px;
}

.ms_k8-section-wrap .ms-section1 .p-box p {
  position: relative;
  top: -20px;
  opacity: 0;
}

.ms_k8-section-wrap .ms-section1 .p-box p:first-child {
  margin-bottom: 30px;
}

.ms_k8-section-wrap .ms-section1 .num-wrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .input-box {
  margin-bottom: 90px;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul > li {
  opacity: 0;
  margin: 0 30px;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul > li img.num-cursor {
  color: #32363a;
  -webkit-animation: 0.7s 0s linear infinite alternate cursorAni;
          animation: 0.7s 0s linear infinite alternate cursorAni;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul > li img.num-cursor.on {
  -webkit-animation: 0.7s 0s linear infinite alternate cursorAni2;
          animation: 0.7s 0s linear infinite alternate cursorAni2;
}

@-webkit-keyframes cursorAni {
  from {
    opacity: 0.02;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes cursorAni {
  from {
    opacity: 0.02;
  }
  80% {
    opacity: 0.1;
  }
  to {
    opacity: 0.1;
  }
}

@-webkit-keyframes cursorAni2 {
  from {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes cursorAni2 {
  from {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul > li.bar {
  width: 45px;
  height: 3px;
  background: #292929;
  border-radius: 3px;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 248px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li {
  opacity: 0;
  margin: 0 10px 10px 0;
  position: relative;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li:nth-child(3n) {
  margin: 0 0 10px 0;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li > button {
  position: relative;
  font-size: 24px;
  z-index: 1;
  border: 2px solid #212529;
  border-radius: 6px;
  background: #1b1f24;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 76px;
  height: 76px;
  line-height: 75px;
  text-align: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li > button:hover {
  border: 2px solid #a3a5a7;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li > button.on {
  background: #1b1f24;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li > button.on ~ span {
  -webkit-box-shadow: 0 0 40px 14px #ffffff60;
          box-shadow: 0 0 40px 14px #ffffff60;
}

.ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li > span {
  -webkit-box-shadow: 0 0 4px 1px transparent;
          box-shadow: 0 0 4px 1px transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes clickAni {
  from {
    -webkit-box-shadow: 0 0 4px 1px transparent;
            box-shadow: 0 0 4px 1px transparent;
  }
  50% {
    -webkit-box-shadow: 0 0 40px 14px #ffffff60;
            box-shadow: 0 0 40px 14px #ffffff60;
  }
  to {
    -webkit-box-shadow: 0 0 4px 1px transparent;
            box-shadow: 0 0 4px 1px transparent;
  }
}

@keyframes clickAni {
  from {
    -webkit-box-shadow: 0 0 4px 1px transparent;
            box-shadow: 0 0 4px 1px transparent;
  }
  50% {
    -webkit-box-shadow: 0 0 40px 14px #ffffff60;
            box-shadow: 0 0 40px 14px #ffffff60;
  }
  to {
    -webkit-box-shadow: 0 0 4px 1px transparent;
            box-shadow: 0 0 4px 1px transparent;
  }
}

.ms_k8-section-wrap .ms-section1 .bg-wrap {
  top: 300px;
}

.ms_k8-section-wrap .ms-section1 .bg-wrap img {
  opacity: 0;
  position: absolute;
  left: 0;
}

.ms_k8-section-wrap .ms-section2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_k8-section-wrap .ms-section2 .center-wrap {
  display: none;
  opacity: 0;
  top: -20px;
}

.ms_k8-section-wrap .ms-section2 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.ms_k8-section-wrap .ms-section2 button.top-left img {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.ms_k8-section-wrap .ms-section2 .iframe-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ms_k8-section-wrap .ms-section2 #iframe-div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1050px;
  max-height: 590px;
  overflow: hidden;
}

.ms_k8-section-wrap .ms-section2 .bg-wrap video {
  width: 100%;
  height: 100%;
}

.ms_k8-section-wrap .ms-section3 .center-wrap {
  padding-top: 120px;
}

.ms_k8-section-wrap .ms-section3 .p-box {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}

.ms_k8-section-wrap .ms-section3 .p-box p {
  position: relative;
  top: 20px;
  opacity: 0;
}

.ms_k8-section-wrap .ms-section3 .p-box p:first-child {
  margin-bottom: 30px;
}

.ms_k8-section-wrap .ms-section3 .p-box p:nth-child(2) {
  margin-bottom: 50px;
}

.ms_k8-section-wrap .ms-section3 .slick-carousel {
  height: 420px;
  margin-bottom: 30px;
  opacity: 0;
}

.ms_k8-section-wrap .ms-section3 .slick-carousel li {
  margin-right: 70px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_k8-section-wrap .ms-section3 .slick-carousel li img {
  max-height: 420px;
}

.ms_k8-section-wrap .ms-section3 .slick-carousel button {
  position: absolute;
  z-index: 2;
  top: 50%;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(../static/img/arrow_l_white2.png) no-repeat center center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: calc(50% - 90px);
}

.ms_k8-section-wrap .ms-section3 .slick-carousel button::before {
  display: none;
}

.ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-next {
  margin-left: -710px;
}

.ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-prev {
  margin-left: 710px;
  -webkit-transform: translateY(-45px) rotateZ(180deg);
          transform: translateY(-45px) rotateZ(180deg);
}

.ms_k8-section-wrap .ms-section3 .slick-carousel button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.ms_k8-section-wrap .ms-section3 .owl-carousel {
  opacity: 0;
  margin-bottom: 20px;
}

.ms_k8-section-wrap .ms-section3 .owl-carousel .owl-item img {
  width: auto;
}

.ms_k8-section-wrap .ms-section3 .owl-nav {
  position: absolute;
  top: -90px;
  left: 50%;
  margin-left: -710px;
  width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ms_k8-section-wrap .ms-section3 .owl-nav span {
  position: absolute;
  top: 300px;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(../static/img/arrow_l_white2.png) no-repeat center center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ms_k8-section-wrap .ms-section3 .owl-nav span.prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: 0;
}

.ms_k8-section-wrap .ms-section3 .owl-nav span.next {
  left: 0;
}

.ms_k8-section-wrap .ms-section3 .owl-nav span:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.ms_k8-section-wrap .ms-section3 .btn-wrap {
  opacity: 0;
  bottom: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button {
  width: 172px;
  height: 52px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
  border: 2px solid #fff;
  background: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button.btn-black::after {
  background: #fff;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button.btn-black:hover {
  color: #000;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button.btn-white {
  background: #fff;
  color: #000;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button.btn-white::after {
  background: #000;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button.btn-white:hover {
  color: #fff;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button:last-child {
  margin: 0;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button span {
  position: relative;
  z-index: 1;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button::after {
  position: absolute;
  top: -1px;
  display: block;
  content: '';
  left: -173px;
  width: 172px;
  height: 52px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.ms_k8-section-wrap .ms-section3 .btn-wrap > button:hover::after {
  left: 0;
}

.ms_k8-section-wrap .ms-section3 .bg-wrap {
  width: 100%;
  left: 0;
  margin: 0;
  background: #1b1f24 url(../static/img/section3-bg.png) no-repeat center bottom;
  background-size: contain;
}

.ms_k8-section-wrap .hide {
  display: none !important;
}

.ms_k8-section-wrap img {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.ms_k8-section-wrap .numImg {
  display: inline;
}

.ms_k8-section-wrap .numImg.num-fs12 {
  width: 12px;
  height: 18px;
}

.ms_k8-section-wrap .numImg.num-fs40 {
  width: 40px;
  height: 60px;
}

.ms_k8-section-wrap button {
  background: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
}

.ms_k8-section-wrap .unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms_k8-section-wrap .fs52 {
  font-size: 52px;
}

.ms_k8-section-wrap .fs20 {
  font-size: 20px;
}

.ms_k8-section-wrap .fs40 {
  font-size: 40px;
}

.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}

.ms_k8-section-wrap .fs90 {
  font-size: 90px;
}

.ms_k8-section-wrap .fs24 {
  font-size: 24px;
}

.ms_k8-section-wrap .fs70 {
  font-size: 70px;
}

.ms_k8-section-wrap .fs14 {
  font-size: 14px;
}

.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}

.ms_k8-section-wrap .fs16 {
  font-size: 16px;
}

.ms_k8-section-wrap .fs22 {
  font-size: 22px;
}

.ms_k8-section-wrap .col_gray {
  color: #3c3c3c;
}

.ms_k8-section-wrap .col_gray2 {
  color: #7e8284;
}

.ms_k8-section-wrap ol,
.ms_k8-section-wrap ul {
  list-style: none;
}

.ms_k8-section-wrap blockquote,
.ms_k8-section-wrap q {
  quotes: none;
}

.ms_k8-section-wrap blockquote:before,
.ms_k8-section-wrap blockquote:after,
.ms_k8-section-wrap q:before,
.ms_k8-section-wrap q:after {
  content: '';
  content: none;
}

.ms_k8-section-wrap div,
.ms_k8-section-wrap span,
.ms_k8-section-wrap iframe,
.ms_k8-section-wrap h1,
.ms_k8-section-wrap h2,
.ms_k8-section-wrap p,
.ms_k8-section-wrap a,
.ms_k8-section-wrap img,
.ms_k8-section-wrap q,
.ms_k8-section-wrap ul,
.ms_k8-section-wrap li,
.ms_k8-section-wrap form,
.ms_k8-section-wrap label,
.ms_k8-section-wrap legend,
.ms_k8-section-wrap table,
.ms_k8-section-wrap caption,
.ms_k8-section-wrap tbody,
.ms_k8-section-wrap tfoot,
.ms_k8-section-wrap thead,
.ms_k8-section-wrap tr,
.ms_k8-section-wrap th,
.ms_k8-section-wrap td,
.ms_k8-section-wrap article,
.ms_k8-section-wrap canvas,
.ms_k8-section-wrap footer,
.ms_k8-section-wrap header,
.ms_k8-section-wrap nav,
.ms_k8-section-wrap section,
.ms_k8-section-wrap audio,
.ms_k8-section-wrap video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.ms_k8-section-wrap {
  /* Slider */
  /* Icons */
  /* Arrows */
  /* Dots */
  /* Slider */
  /* owl slide */
  /**
         * Owl Carousel v2.3.4
         * Copyright 2013-2018 David Deutsch
         * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
         */
}

.ms_k8-section-wrap .slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
  .ms_k8-section-wrap {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  }
}

.ms_k8-section-wrap .slick-prev,
.ms_k8-section-wrap .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.ms_k8-section-wrap .slick-prev:hover,
.ms_k8-section-wrap .slick-prev:focus,
.ms_k8-section-wrap .slick-next:hover,
.ms_k8-section-wrap .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.ms_k8-section-wrap .slick-prev:hover:before,
.ms_k8-section-wrap .slick-prev:focus:before,
.ms_k8-section-wrap .slick-next:hover:before,
.ms_k8-section-wrap .slick-next:focus:before {
  opacity: 1;
}

.ms_k8-section-wrap .slick-prev.slick-disabled:before,
.ms_k8-section-wrap .slick-next.slick-disabled:before {
  opacity: 0.25;
}

.ms_k8-section-wrap .slick-prev:before,
.ms_k8-section-wrap .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ms_k8-section-wrap .slick-prev {
  left: -25px;
}

.ms_k8-section-wrap [dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.ms_k8-section-wrap .slick-prev:before {
  content: '←';
}

.ms_k8-section-wrap [dir='rtl'] .slick-prev:before {
  content: '→';
}

.ms_k8-section-wrap .slick-next {
  right: -25px;
}

.ms_k8-section-wrap [dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.ms_k8-section-wrap .slick-next:before {
  content: '→';
}

.ms_k8-section-wrap [dir='rtl'] .slick-next:before {
  content: '←';
}

.ms_k8-section-wrap .slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.ms_k8-section-wrap .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.ms_k8-section-wrap .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.ms_k8-section-wrap .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.ms_k8-section-wrap .slick-dots li button:hover,
.ms_k8-section-wrap .slick-dots li button:focus {
  outline: none;
}

.ms_k8-section-wrap .slick-dots li button:hover:before,
.ms_k8-section-wrap .slick-dots li button:focus:before {
  opacity: 1;
}

.ms_k8-section-wrap .slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ms_k8-section-wrap .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.ms_k8-section-wrap .slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.ms_k8-section-wrap .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.ms_k8-section-wrap .slick-list:focus {
  outline: none;
}

.ms_k8-section-wrap .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.ms_k8-section-wrap .slick-slider .slick-track,
.ms_k8-section-wrap .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ms_k8-section-wrap .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ms_k8-section-wrap .slick-track:before,
.ms_k8-section-wrap .slick-track:after {
  display: table;
  content: '';
}

.ms_k8-section-wrap .slick-track:after {
  clear: both;
}

.ms_k8-section-wrap .slick-loading .slick-track {
  visibility: hidden;
}

.ms_k8-section-wrap .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.ms_k8-section-wrap [dir='rtl'] .slick-slide {
  float: right;
}

.ms_k8-section-wrap .slick-slide img {
  display: block;
}

.ms_k8-section-wrap .slick-slide.slick-loading img {
  display: none;
}

.ms_k8-section-wrap .slick-slide.dragging img {
  pointer-events: none;
}

.ms_k8-section-wrap .slick-initialized .slick-slide {
  display: block;
}

.ms_k8-section-wrap .slick-loading .slick-slide {
  visibility: hidden;
}

.ms_k8-section-wrap .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.ms_k8-section-wrap .slick-arrow.slick-hidden {
  display: none;
}

.ms_k8-section-wrap .owl-carousel,
.ms_k8-section-wrap .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.ms_k8-section-wrap .owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.ms_k8-section-wrap .owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.ms_k8-section-wrap .owl-carousel .owl-stage:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.ms_k8-section-wrap .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.ms_k8-section-wrap .owl-carousel .owl-item,
.ms_k8-section-wrap .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.ms_k8-section-wrap .owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.ms_k8-section-wrap .owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.ms_k8-section-wrap .owl-carousel .owl-dots.disabled,
.ms_k8-section-wrap .owl-carousel .owl-nav.disabled {
  display: none;
}

.ms_k8-section-wrap .no-js .owl-carousel,
.ms_k8-section-wrap .owl-carousel.owl-loaded {
  display: block;
}

.ms_k8-section-wrap .owl-carousel .owl-dot,
.ms_k8-section-wrap .owl-carousel .owl-nav .owl-next,
.ms_k8-section-wrap .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms_k8-section-wrap .owl-carousel .owl-nav button.owl-next,
.ms_k8-section-wrap .owl-carousel .owl-nav button.owl-prev,
.ms_k8-section-wrap .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.ms_k8-section-wrap .owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.ms_k8-section-wrap .owl-carousel.owl-hidden {
  opacity: 0;
}

.ms_k8-section-wrap .owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.ms_k8-section-wrap .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ms_k8-section-wrap .owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.ms_k8-section-wrap .owl-carousel.owl-rtl {
  direction: rtl;
}

.ms_k8-section-wrap .owl-carousel.owl-rtl .owl-item {
  float: right;
}

.ms_k8-section-wrap .owl-carousel .animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.ms_k8-section-wrap .owl-carousel .owl-animated-in {
  z-index: 0;
}

.ms_k8-section-wrap .owl-carousel .owl-animated-out {
  z-index: 1;
}

.ms_k8-section-wrap .owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ms_k8-section-wrap .owl-height {
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.ms_k8-section-wrap .owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.ms_k8-section-wrap .owl-carousel .owl-item .owl-lazy:not([src]),
.ms_k8-section-wrap .owl-carousel .owl-item .owl-lazy[src^=''] {
  max-height: 0;
}

.ms_k8-section-wrap .owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.ms_k8-section-wrap .owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.ms_k8-section-wrap .owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.ms_k8-section-wrap .owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.ms_k8-section-wrap .owl-carousel .owl-video-playing .owl-video-play-icon,
.ms_k8-section-wrap .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.ms_k8-section-wrap .owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.ms_k8-section-wrap .owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.ms_k8-section-wrap .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

@media (max-width: 1420px) and (min-width: 1025px) {
  .ms_k8-section-wrap .ms-section0 .logo img {
    position: relative;
    left: 30px;
  }
  .ms_k8-section-wrap .ms-section1 .box-tb.top-box {
    left: 30px;
  }
  .ms_k8-section-wrap .ms-section1 .box-tb.bottom-box {
    right: 30px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-next {
    left: 30px;
    margin: 0;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-prev {
    right: 30px;
    left: auto;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav {
    left: 0;
    margin-left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span.prev {
    right: 60px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span.next {
    left: 60px;
  }
}

@media (min-width: 1025px) {
  .ms_k8-section-wrap .ms-mo {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .ms_k8-section-wrap {
    height: calc(100vh - 150px);
    max-height: 780px;
    min-height: 640px;
  }
  .ms_k8-section-wrap > section > .center-wrap {
    padding-top: 60px;
  }
  .ms_k8-section-wrap > section .bg-wrap {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .ms_k8-section-wrap .ms-section0 .logo {
    margin-bottom: 50px;
  }
  .ms_k8-section-wrap .ms-section0 .logo img {
    margin: auto;
  }
  .ms_k8-section-wrap .ms-section0 .p-box p:first-child {
    margin-bottom: 25px;
  }
  .ms_k8-section-wrap .ms-section1 .center-wrap {
    padding-top: 20px;
  }
  .ms_k8-section-wrap .ms-section1 .box-tb.top-box {
    display: none;
  }
  .ms_k8-section-wrap .ms-section1 .box-tb.bottom-box {
    right: 45px;
    bottom: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .ms_k8-section-wrap .ms-section1 .box-tb.bottom-box button {
    background: url(../static/img/icon_close_gray.png) no-repeat right;
    background-size: 13px 13px;
    background-position: right center;
  }
  .ms_k8-section-wrap .ms-section1 .p-box {
    margin-top: 5.71429vh;
    margin-bottom: 7.61905vh;
  }
  .ms_k8-section-wrap .ms-section1 .num-wrap .input-box {
    margin-bottom: 8.57143vh;
  }
  .ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul > li {
    margin: 0 20px;
  }
  .ms_k8-section-wrap .ms-section1 .num-wrap .input-box > ul > li.bar {
    margin: 0;
    width: 20px;
  }
  .ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul {
    width: 218px;
  }
  .ms_k8-section-wrap .ms-section1 .num-wrap .num-pad > ul > li > button {
    width: 66px;
    height: 66px;
    line-height: 65px;
  }
  .ms_k8-section-wrap .ms-section1 .bg-wrap {
    top: 190px;
  }
  .ms_k8-section-wrap .ms-section1 .bg-wrap .ms-mo img {
    width: 540px;
  }
  .ms_k8-section-wrap .ms-section1 .bg-wrap .ms-mo img:first-child {
    left: auto;
    right: 0;
  }
  .ms_k8-section-wrap .ms-section2 button.top-left {
    top: 20px;
    left: 20px;
  }
  .ms_k8-section-wrap .ms-section2 button.bottom-right {
    bottom: 32px;
    right: 32px;
  }
  .ms_k8-section-wrap .ms-section2 #iframe-div {
    height: 50vh;
    max-height: 575px;
  }
  .ms_k8-section-wrap .ms-section3 .center-wrap {
    padding-top: 70px;
  }
  .ms_k8-section-wrap .ms-section3 .p-box p:first-child {
    margin-bottom: 20px;
  }
  .ms_k8-section-wrap .ms-section3 .p-box p:nth-child(2) {
    margin-bottom: 30px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel {
    height: 300px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel li {
    height: 300px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel li img {
    max-height: 300px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button {
    width: 45px;
    height: 45px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-next {
    left: 30px;
    margin: 0;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-prev {
    right: 30px;
    left: auto;
    -webkit-transform: translateY(-22px) rotateZ(180deg);
            transform: translateY(-22px) rotateZ(180deg);
  }
  .ms_k8-section-wrap .ms-section3 .owl-carousel {
    height: 300px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-carousel .owl-stage {
    max-height: 300px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-carousel img {
    max-height: 300px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav {
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span {
    width: 45px;
    height: 45px;
    top: 122px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span.prev {
    right: 30px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span.next {
    left: 30px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .ms_k8-section-wrap .ms-section3 .btn-wrap > button {
    width: 150px;
    height: 45px;
    margin-right: 16px;
    border: 1px solid #fff;
  }
  .ms_k8-section-wrap .ms-section3 .bg-wrap {
    background: #1b1f24 url(../static/img/section3-bg-m.png) no-repeat center bottom;
    background-size: contain;
  }
  .ms_k8-section-wrap section .m-fs46 {
    font-size: 46px;
  }
  .ms_k8-section-wrap section .m-fs20 {
    font-size: 20px;
  }
  .ms_k8-section-wrap section .m-fs38 {
    font-size: 38px;
  }
  .ms_k8-section-wrap section .m-fs34 {
    font-size: 34px;
  }
  .ms_k8-section-wrap section .m-fs16 {
    font-size: 16px;
  }
  .ms_k8-section-wrap section .m-fs15 {
    font-size: 15px;
  }
  .ms_k8-section-wrap section .m-fs40 {
    font-size: 40px;
  }
  .ms_k8-section-wrap section .m-fs30 {
    font-size: 30px;
  }
  .ms_k8-section-wrap section .m-fs18 {
    font-size: 18px;
  }
  .ms_k8-section-wrap section .m-fs55 {
    font-size: 55px;
  }
  .ms_k8-section-wrap section .m-fs22 {
    font-size: 22px;
  }
  .ms_k8-section-wrap section .m-fs15 {
    font-size: 15px;
  }
  .ms_k8-section-wrap section .m-fs58 {
    font-size: 58px;
  }
  .ms_k8-section-wrap section .m-fs12 {
    font-size: 12px;
  }
  .ms_k8-section-wrap section .m-fs14 {
    font-size: 14px;
  }
  .ms_k8-section-wrap .numImg.num-m-fs12 {
    width: 12px;
    height: 18px;
  }
  .ms_k8-section-wrap .numImg.num-m-fs30 {
    width: 30px;
    height: 45px;
  }
  .ms_k8-section-wrap .numImg.num-m-fs22 {
    width: 22px;
    height: 33px;
  }
  .ms_k8-section-wrap .ms-pc {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .ms_k8-section-wrap .ms-mo1 {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .ms_k8-section-wrap .ms-section0 .p-box p:first-child {
    font-size: 26px;
  }
  .ms_k8-section-wrap .ms-section1 > .center-wrap {
    padding-top: 30px;
  }
  .ms_k8-section-wrap .ms-section1 .p-box p:first-child {
    margin-bottom: 14px;
  }
  .ms_k8-section-wrap .ms-section1 .bg-wrap {
    top: 130px;
    left: 50%;
    margin-left: -250px;
    min-width: 500px;
  }
  .ms_k8-section-wrap .ms-section3 .p-box p:first-child {
    margin-bottom: 20px;
  }
  .ms_k8-section-wrap .ms-section3 .p-box p:nth-child(2) {
    margin-bottom: 30px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-next {
    left: 15px;
  }
  .ms_k8-section-wrap .ms-section3 .slick-carousel button.slick-prev {
    right: 15px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span.prev {
    right: 15px;
  }
  .ms_k8-section-wrap .ms-section3 .owl-nav span.next {
    left: 15px;
  }
  .ms_k8-section-wrap section .m2-fs26 {
    font-size: 26px;
  }
  .ms_k8-section-wrap section .m2-fs22 {
    font-size: 22px;
  }
  .ms_k8-section-wrap section .m2-fs14 {
    font-size: 14px;
  }
  .ms_k8-section-wrap section .m2-fs12 {
    font-size: 12px;
  }
  .ms_k8-section-wrap section .m2-fs16 {
    font-size: 16px;
  }
  .ms_k8-section-wrap section .m2-fs34 {
    font-size: 34px;
  }
  .ms_k8-section-wrap .numImg.num-m2-fs22 {
    width: 22px;
    height: 33px;
  }
  .ms_k8-section-wrap .ms-pc1 {
    display: none !important;
  }
}
/*# sourceMappingURL=index.css.map */