@import './reset.scss';

@mixin px2vw($property, $valueList) {
	$vwList: ();
	$pxList: ();
	$viewportWidth: 19.2;
	@each $px in $valueList {
		$vwList: append($vwList, ($px / $viewportWidth) + vw);
	}
	#{$property}: $vwList;
}
@mixin px2vwm($property, $valueList) {
	$vwList: ();
	$pxList: ();
	$viewportWidth: 10.8;
	@each $px in $valueList {
		$vwList: append($vwList, ($px / $viewportWidth) + vw);
	}
	#{$property}: $vwList;
}
@mixin px2vh($property, $valueList) {
	$vhList: ();
	$pxList: ();
	$viewportHeight: 10.5;
	@each $px in $valueList {
		$vhList: append($vhList, ($px / $viewportHeight) + vh);
	}
	#{$property}: $vhList;
}
@mixin px2vhm($property, $valueList) {
	$vhList: ();
	$pxList: ();
	$viewportHeight: 1920;
	@each $px in $valueList {
		$vhList: append($vhList, calc(#{$px}px * (var(--inner-height) / #{$viewportHeight})));
	}
	#{$property}: $vhList;
}
$col-gray: #4e4e4e;

// pc
.k8-section-wrap {
	font-family: 'Kia', 'Noto Sans KR', Arial, sans-serif;
	font-weight: 400;
	color: #fff;
	height: 970px;
	max-width: 1920px;
	width: 100%;
	margin: auto;
	overflow: hidden;
	background: #000;
	position: relative;

	> section {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;

		h2 {
			display: none;
		}
		> .center-wrap {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding-top: 70px;
			max-width: 1420px;
			position: relative;
			z-index: 1;
			&.full {
				max-width: 100%;
			}
		}
		.bg-wrap {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 50%;
			margin-left: -960px;
			width: 1920px;
			height: 100%;
		}
	}
	.ms-section0 {
		.logo {
			margin-bottom: 60px;
			img {
				width: 97px;
				height: 26px;
				opacity: 0;
				transition: all 1s ease-out;
			}
		}
		.p-box {
			text-align: center;
			p {
				top: -20px;
				opacity: 0;
				position: relative;
				margin-bottom: 30px;
				font-weight: 300;
				span {
					position: relative;
					font-weight: 700;
				}
			}
		}
		.bg-wrap {
			video {
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				&.ms-mo {
				}
			}
		}
	}
	.ms-section1 {
		width: 100%;
		height: 100%;
		background: #1b1f24;
		top: 100%;
		z-index: 1;

		.box-tb {
			width: 1684px;
			height: 34px;
			display: flex;
			align-items: center;
			position: absolute;
			opacity: 0;

			button {
				width: 92px;
				height: 100%;
				box-sizing: border-box;
				font-size: 15px;
			}
			.line {
				display: block;
				background: #262a2e;
				height: 2px;
				width: calc(100% - 92px);
			}

			&.top-box {
				top: 80px;
				left: 0;
				button {
					text-align: left;
					background: url(../static/img/arrow_l_white.png) no-repeat left;
					background-size: 15px 13px;
					padding-left: 22px;
				}
			}
			&.bottom-box {
				right: 0;
				bottom: 64px;
				button {
					background: url(../static/img/arrow_r_gray.png) no-repeat right;
					background-size: 15px 13px;
					padding-right: 22px;
					text-align: right;
					font-weight: 700;
					color: $col-gray;
				}
			}
		}
		.p-box {
			text-align: center;
			margin: 90px 0 100px;
			p {
				position: relative;
				top: -20px;
				opacity: 0;

				&:first-child {
					margin-bottom: 30px;
				}
			}
		}

		.num-wrap {
			> div {
				display: flex;
				justify-content: center;
			}
			.input-box {
				margin-bottom: 90px;
				> ul {
					display: flex;
					align-items: center;

					> li {
						opacity: 0;
						margin: 0 30px;

						img.num-cursor {
							color: #32363a;
							animation: 0.7s 0s linear infinite alternate cursorAni;

							&.on {
								animation: 0.7s 0s linear infinite alternate cursorAni2;
							}

							@keyframes cursorAni {
								from {
									opacity: 0.02;
								}
								80% {
									opacity: 0.1;
								}
								to {
									opacity: 0.1;
								}
							}

							@keyframes cursorAni2 {
								from {
									opacity: 0.2;
								}
								80% {
									opacity: 1;
								}
								to {
									opacity: 1;
								}
							}
						}

						&.bar {
							width: 45px;
							height: 3px;
							background: #292929;
							border-radius: 3px;
						}
					}
				}
			}
			.num-pad {
				> ul {
					display: flex;
					width: 248px;
					flex-wrap: wrap;

					> li {
						opacity: 0;
						margin: 0 10px 10px 0;

						position: relative;
						&:nth-child(3n) {
							margin: 0 0 10px 0;
						}

						> button {
							position: relative;
							font-size: 24px;
							z-index: 1;
							border: 2px solid #212529;
							border-radius: 6px;
							box-sizing: border-box;
							width: 76px;
							height: 76px;
							line-height: 75px;
							text-align: center;
							transition: 0.3s all;
							cursor: pointer;

							&:hover {
								border: 2px solid #a3a5a7;
								background: #1b1f24;
							}
							&.on {
								background: #1b1f24;
								& ~ span {
									box-shadow: 0 0 40px 14px #ffffff60;
								}
							}
						}
						> span {
							box-shadow: 0 0 4px 1px transparent;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							border-radius: 50%;
							transition: 0.3s all;

							@keyframes testAni {
								from {
									box-shadow: 0 0 4px 1px transparent;
								}
								50% {
									box-shadow: 0 0 40px 14px #ffffff60;
								}
								to {
									box-shadow: 0 0 4px 1px transparent;
								}
							}
						}
					}
				}
			}
		}
		.bg-wrap {
			top: 300px;
			img {
				opacity: 0;
				position: absolute;
				left: 0;
			}
		}
	}
	.ms-section2 {
		width: 100%;
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;

		.center-wrap {
			display: none;
			opacity: 0;
			top: -20px;
		}
		button {
			display: flex;
			font-size: 15px;
			font-weight: 700;
			padding: 10px;
			position: absolute;
			z-index: 1;
			overflow: hidden;

			&.top-left {
				img {
					margin-right: 10px;
					position: relative;
					top: 2px;
				}
			}
		}

		.iframe-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 140px;
			box-sizing: border-box;
		}
		#iframe-div {
			box-sizing: border-box;
			width: 100%;
			max-width: 1050px;
			max-height: 590px;
			overflow: hidden;
		}
		.bg-wrap {
			video {
				width: 100%;
				height: 100%;
			}
		}
	}
	.ms-section3 {
		.timer-wrap {
			font-weight: 300;
			text-align: center;
			margin: 35px 0 40px;

			p {
				display: flex;
				margin: auto;
				justify-content: center;
				span {
					position: relative;
					top: 15px;
					opacity: 0;
					padding: 0 30px;
					img {
						&:first-child {
							margin-right: 6px;
						}
					}
				}
			}

			p:first-child {
				margin-bottom: 16px;
				span {
					display: flex;
					color: #fff;
					position: relative;
					&::before,
					&::after {
						position: absolute;
						top: 16px;
						right: -3px;
						content: '';
						width: 6px;
						height: 6px;
						display: block;
						background: #3c3c3c;
						border-radius: 50%;
					}
					&::after {
						top: 44px;
					}
					&:last-child {
						&::before,
						&::after {
							display: none;
						}
					}
				}
			}
			p:last-child {
				display: flex;
				color: #3c3c3c;
				margin: auto;
				span {
					width: 86px;
				}
			}
		}
		.p-box {
			text-align: center;
			font-weight: 300;
			margin-bottom: 40px;
			p {
				position: relative;
				top: 20px;
				opacity: 0;
				&:first-child {
					margin-bottom: 12px;
				}
			}
		}
		.owl-carousel {
			opacity: 0;
			margin-bottom: 20px;

			.owl-item img {
				width: auto;
			}
		}
		.owl-nav {
			position: absolute;
			top: -90px;
			left: 50%;
			margin-left: -710px;
			width: 1420px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			span {
				position: absolute;
				top: 300px;
				display: block;
				width: 90px;
				height: 90px;
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.2) url(../static/img/arrow_l_white2.png) no-repeat center center;
				transition: all 0.3s;
				&.prev {
					transform: scaleX(-1);
					right: 0;
				}
				&.next {
					left: 0;
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		.btn-wrap {
			opacity: 0;
			bottom: -100px;
			display: flex;
			justify-content: center;
			position: relative;

			> button {
				width: 172px;
				height: 52px;
				overflow: hidden;
				position: relative;
				margin-right: 20px;
				border: 2px solid #fff;
				background: transparent;
				transition: all 0.25s;

				&.btn-black {
					&::after {
						background: #fff;
					}
					&:hover {
						color: #000;
					}
				}

				&.btn-white {
					background: #fff;
					color: #000;
					&::after {
						background: #000;
					}
					&:hover {
						color: #fff;
					}
				}

				&:last-child {
					margin: 0;
				}

				span {
					position: relative;
					z-index: 1;
				}

				&::after {
					position: absolute;
					top: -1px;
					display: block;
					content: '';
					left: -173px;
					width: 172px;
					height: 52px;
					transition: all 0.25s;
				}

				&:hover {
					&::after {
						left: 0;
					}
				}
			}
		}
		.bg-wrap {
			width: 100%;
			left: 0;
			margin: 0;
			background: #1b1f24 url(../static/img/section3-bg.png) no-repeat center bottom;
			background-size: contain;
		}
	}

	// common
	.hide {
		display: none !important;
	}
	img {
		display: block;
		user-select: none;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}

	.numImg {
		display: inline;
		&.num-fs12 {
			width: 12px;
			height: 18px;
		}
		&.num-fs40 {
			width: 40px;
			height: 60px;
		}
	}

	button {
		background: transparent;
		padding: 0;
		border: 0;
		outline: 0;
		color: #fff;
		cursor: pointer;
	}
	.unselectable {
		-webkit-user-select: none;
		-webkit-touch-callout: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.fs52 {
		font-size: 52px;
	}
	.fs20 {
		font-size: 20px;
	}
	.fs40 {
		font-size: 40px;
	}
	.fs16 {
		font-size: 16px;
	}
	.fs90 {
		font-size: 90px;
	}
	.fs24 {
		font-size: 24px;
	}
	.fs70 {
		font-size: 70px;
	}
	.fs14 {
		font-size: 14px;
	}
	.fs16 {
		font-size: 16px;
	}
	.fs16 {
		font-size: 16px;
	}
	.fs16 {
		font-size: 16px;
	}
	.col_gray {
		color: #3c3c3c;
	}
}

@media (max-width: 1420px) and (min-width: 1025px) {
	.k8-section-wrap {
		.ms-section0 {
			.logo {
				img {
					position: relative;
					left: 30px;
				}
			}
		}

		.ms-section1 {
			.box-tb {
				&.top-box {
					left: 30px;
				}
				&.bottom-box {
					right: 30px;
				}
			}
		}
		.ms-section3 .owl-nav {
			left: 0;
			margin-left: 0;
			width: 100%;
			box-sizing: border-box;
			span {
				&.prev {
					right: 60px;
				}
				&.next {
					left: 60px;
				}
			}
		}
	}
}

@media (min-width: 1025px) {
	.ms-mo {
		display: none !important;
	}
}

// 태블릿, 모바일
@media (max-width: 1024px) {
	.k8-section-wrap {
		height: calc(100vh - 150px);
		max-height: 780px;
		min-height: 640px;
		> section {
			> .center-wrap {
				padding-top: 60px;
			}
			.bg-wrap {
				width: 100%;
				left: 0;
				margin-left: 0;
			}
		}
		.ms-section0 {
			.logo {
				margin-bottom: 50px;
				img {
					margin: auto;
				}
			}
			.p-box {
				p:first-child {
					margin-bottom: 25px;
				}
			}
		}
		.ms-section1 {
			.box-tb {
				&.top-box {
					top: 30px;
					left: 35px;
					button {
						background: url(../static/img/icon_close.png) no-repeat left;
					}
				}
				&.bottom-box {
					right: 45px;
					bottom: 30px;
					justify-content: flex-end;
					button {
						background: url(../static/img/icon_close_gray.png) no-repeat right;
						background-size: 13px 13px;
						background-position: right center;
					}
				}
			}
			.p-box {
				@include px2vh(margin-top, 60);
				@include px2vh(margin-bottom, 80);
			}
			.num-wrap {
				.input-box {
					@include px2vh(margin-bottom, 90);
					> ul {
						> li {
							margin: 0 20px;
							&.bar {
								margin: 0;
								width: 20px;
							}
						}
					}
				}
				.num-pad {
					> ul {
						width: 218px;
						> li {
							> button {
								width: 66px;
								height: 66px;
								line-height: 65px;
							}
						}
					}
				}
			}
			.bg-wrap {
				top: 190px;
				.ms-mo {
					img {
						width: 540px;
						&:first-child {
							left: auto;
							right: 0;
						}
					}
				}
			}
		}
		.ms-section2 {
			button {
				&.top-left {
					top: 32px;
					left: 36px;
				}
				&.bottom-right {
					bottom: 32px;
					right: 32px;
				}
			}
			#iframe-div {
				height: 50vh;
				max-height: 575px;
			}
		}
		.ms-section3 {
			.center-wrap {
				padding-top: 60px;
			}
			.timer-wrap {
				margin: 0 0 30px 0;
				p {
					span {
						padding: 0 20px;
					}
					&:first-child {
						margin-bottom: 13px;
						span {
							&::before,
							&::after {
								top: 5px;
								right: -3px;
								width: 5px;
								height: 5px;
							}
							&::after {
								top: 23px;
							}
						}
					}
					&:last-child {
						span {
							padding: 0 18px;
							box-sizing: border-box;
						}
					}
				}
			}
			.owl-carousel {
				height: 300px;

				.owl-stage {
					max-height: 300px;
				}
				img {
					max-height: 300px;
				}
			}
			.owl-nav {
				width: 100%;
				left: 0;
				margin-left: 0;
				top: 0;

				span {
					width: 45px;
					height: 45px;
					top: 122px;
					&.prev {
						right: 30px;
					}
					&.next {
						left: 30px;
					}
					&:hover {
						background-color: rgba(255, 255, 255, 0.2);
					}
				}
			}
			.btn-wrap {
				> button {
					width: 150px;
					height: 45px;
					margin-right: 16px;
					border: 1px solid #fff;
				}
			}
			.bg-wrap {
				background: #1b1f24 url(../static/img/section3-bg-m.png) no-repeat center bottom;
				background-size: contain;
			}
		}
	}
	// common
	.k8-section-wrap {
		section {
			.m-fs38 {
				font-size: 38px;
			}
			.m-fs34 {
				font-size: 34px;
			}
			.m-fs16 {
				font-size: 16px;
			}
			.m-fs15 {
				font-size: 15px;
			}
			.m-fs15 {
				font-size: 15px;
			}
			.m-fs30 {
				font-size: 30px;
			}
			.m-fs16 {
				font-size: 16px;
			}
			.m-fs55 {
				font-size: 55px;
			}
			.m-fs22 {
				font-size: 22px;
			}
			.m-fs15 {
				font-size: 15px;
			}
			.m-fs58 {
				font-size: 58px;
			}
			.m-fs12 {
				font-size: 12px;
			}
			.m-fs14 {
				font-size: 14px;
			}
			.m-fs14 {
				font-size: 14px;
			}
		}

		.numImg {
			&.num-m-fs12 {
				width: 12px;
				height: 18px;
			}
			&.num-m-fs30 {
				width: 30px;
				height: 45px;
			}
			&.num-m-fs22 {
				width: 22px;
				height: 33px;
			}
		}
	}
	.ms-pc {
		display: none !important;
	}
}

@media (min-width: 501px) {
	.ms-mo1 {
		display: none !important;
	}
}

// 모바일 500
@media (max-width: 500px) {
	.k8-section-wrap {
		.ms-section0 {
			.p-box {
				p:first-child {
					font-size: 26px;
				}
			}
		}
		.ms-section1 {
			> .center-wrap {
				padding-top: 70px;
			}
			.p-box {
				p {
					&:first-child {
						margin-bottom: 14px;
					}
				}
			}
			.bg-wrap {
				top: 180px;
				left: 50%;
				margin-left: -250px;
				min-width: 500px;
			}
		}
		.ms-section3 {
			.timer-wrap {
				p {
					span {
						img:first-child {
							margin-right: 3px;
						}
					}
				}
			}
			.p-box {
				p {
					&:first-child {
						margin-bottom: 10px;
					}
				}
			}
			.owl-nav {
				span {
					&.prev {
						right: 15px;
					}
					&.next {
						left: 15px;
					}
				}
			}
		}

		section {
			.m2-fs26 {
				font-size: 26px;
			}
			.m2-fs22 {
				font-size: 22px;
			}
			.m2-fs14 {
				font-size: 14px;
			}
		}
		.numImg {
			&.num-m2-fs22 {
				width: 22px;
				height: 33px;
			}
		}
	}

	.ms-pc1 {
		display: none !important;
	}
}
