@font-face {
    font-family: "Kia";
    font-style: normal;
    src: url("./font/KiaSignatureBold.eot");
    src: url("./font/KiaSignatureBold.eot?#iefix") format("embedded-opentype"),
        url("./font/KiaSignatureBold.woff") format("woff"), url("./font/KiaSignatureBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Kia";
    font-style: normal;
    src: url("./font/KiaSignatureRegular.eot");
    src: url("./font/KiaSignatureRegular.eot?#iefix") format("embedded-opentype"),
        url("./font/KiaSignatureRegular.woff") format("woff"), url("./font/KiaSignatureRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Kia";
    font-style: normal;
    src: url("./font/KiaSignatureLight.eot");
    src: url("./font/KiaSignatureLight.eot?#iefix") format("embedded-opentype"),
        url("./font/KiaSignatureLight.woff") format("woff"), url("./font/KiaSignatureLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
