@import "./func.scss";
@import "./font.scss";

// pc
#ms_ray-launching-wrap {
    @import "./reset.scss";
    @import "./common.scss";

    font-family: "Kia", Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;

    .ms_container {
        color: #fff;
        position: relative;
        width: 100%;
        max-width: 1920px;
        overflow: hidden;
        height: calc(100vh - 159px);
        min-height: 580px;
        background: #000;

        .sectionSlideBox {
            position: relative;
            width: 100%;
            height: 100%;

            .section {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                transition: all 0.3s ease-in;
                z-index: 1;

                &.top {
                    top: -100%;
                    overflow: hidden;
                }

                .contentBox {
                    width: 100%;
                    max-width: 1480px;
                    margin: auto;
                    padding: 114px 15px 0;
                    color: #fff;
                    position: relative;
                    z-index: 2;
                    box-sizing: border-box;

                    .copywritingBox {
                        width: 100%;
                        max-width: 1480px;
                        margin: auto;
                        padding: 114px 15px 0;
                        box-sizing: border-box;
                        color: #111a24;
                        margin-bottom: 220px;

                        &.white {
                            color: #fff;
                        }

                        .main {
                            font-size: 27px;
                            font-weight: 700;
                            margin-bottom: 24px;

                            &.galleryText {
                                opacity: 0;
                                transition: all 0.4s;

                                &.on {
                                    opacity: 1;
                                }
                            }
                        }

                        .sub1 {
                            font-size: 36px;
                            font-weight: 700;
                            margin-bottom: 40px;
                        }

                        .sub2 {
                            font-size: 16px;
                            font-weight: 300;

                            &:not(:last-of-type) {
                                margin-bottom: 10px;
                            }
                        }
                    }

                    .movieListBox {
                        .movieList {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            li {
                                width: 246px;
                                height: 196px;
                                position: relative;
                                cursor: pointer;

                                &:not(:last-of-type) {
                                    margin-right: 30px;
                                }

                                &:hover {
                                    .nameBox {
                                        opacity: 0;
                                    }
                                    .thumbnail {
                                        top: 0;
                                        height: 100%;

                                        .bg,
                                        .dim {
                                            opacity: 1;
                                        }
                                    }
                                }

                                .name {
                                    color: #fff;
                                    font-size: 18px;
                                }

                                .nameBox {
                                    position: absolute;
                                    top: 48px;
                                    left: 0;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    opacity: 1;
                                    transition: all 0.1s;

                                    img {
                                        margin-left: 16px;
                                    }
                                }

                                .thumbnail {
                                    position: relative;
                                    width: 100%;
                                    height: 4px;

                                    background: #fff;
                                    top: 50%;
                                    border-radius: 4px;
                                    transition: all 0.4s;
                                    overflow: hidden;

                                    .bg {
                                        opacity: 0;
                                        transition: all 0.2s;
                                    }

                                    .dim {
                                        opacity: 0;
                                        transition: all 0.2s;

                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 50%;
                                        background: linear-gradient(#111a24, transparent);
                                    }

                                    .name {
                                        position: absolute;
                                        top: 30px;
                                        left: 0;
                                        z-index: 2;
                                        text-align: center;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .galleryBox {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    > div {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                    }

                    .gallery {
                        display: flex;
                        position: absolute;
                        align-items: center;
                        left: 50%;

                        > li {
                            &:not(:last-of-type) {
                                margin-right: 210px;
                            }
                        }
                    }
                }

                .galleryController {
                    position: absolute;
                    z-index: 3;
                    bottom: 80px;
                    width: 100%;
                    max-width: 1440px;
                    padding: 0 100px;
                    left: 50%;
                    transform: translateX(-50%);
                    box-sizing: border-box;

                    .dragIcon {
                        position: absolute;
                        left: 74px;
                        transform: translateX(-50%);
                        top: -100px;
                        animation: dragIcon 0.7s ease-in infinite alternate;
                        opacity: 0;
                        transition: all 0.4s;

                        &.on {
                            opacity: 1;
                        }

                        @keyframes dragIcon {
                            from {
                                top: -112px;
                            }
                            to {
                                top: -100px;
                            }
                        }
                    }

                    .controlBox {
                        position: relative;
                        cursor: pointer;
                        padding: 4px 0;
                    }

                    .range {
                        width: 100%;
                        height: 4px;
                        background: #565759;
                        border-radius: 4px;
                    }

                    .controller {
                        width: 148px;
                        height: 8px;
                        position: absolute;
                        z-index: 2;
                        top: 2px;
                        left: 0;

                        span {
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-radius: 2px;
                            background-color: #fff;
                        }
                    }
                }

                .followCursorBtn {
                    position: absolute;
                    z-index: 2;

                    top: 50%;
                    left: 50%;

                    width: 105px;
                    height: 105px;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease-out;

                    cursor: pointer;

                    .bg {
                        position: absolute;
                        left: 50%;
                        top: 50%;

                        width: 92px;
                        height: 92px;
                        transform: translate(-50%, -50%);

                        background: #111a24;
                        border-radius: 50%;
                    }

                    p {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .circleBox {
                        transform-origin: center;
                        transform: rotateZ(0deg);
                        width: 100%;
                        height: 100%;
                    }

                    .circle {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        animation: circle infinite 8s linear;

                        transform-origin: center;
                    }

                    @keyframes circle {
                        from {
                            transform: rotateZ(0deg);
                        }

                        to {
                            transform: rotateZ(360deg);
                        }
                    }
                }

                .bgBox {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .blackWrap {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #000000;
                        opacity: 0.25;
                        transition: all 0.5s;
                    }

                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        width: auto;
                        height: 100%;
                        min-width: 100%;
                        min-height: 100%;

                        object-fit: cover;
                    }

                    video {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: auto;
                        min-width: 1440px;
                        min-height: 100%;

                        object-fit: cover;
                    }
                }
            }

            button {
                position: relative;
                z-index: 2;
            }
        }

        .fixedBox {
            .listBox {
                position: absolute;
                z-index: 2;
                bottom: 34px;
                left: 50%;
                margin-left: -722px;
                transform: translateY(-50%);

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    > li {
                        display: flex;
                        opacity: 0.2;
                        margin-bottom: 13px;
                        cursor: pointer;
                        align-items: center;

                        &.on {
                            opacity: 1;
                        }

                        .circle {
                            display: block;
                            width: 9px;
                            height: 9px;
                            background: #fff;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .footerBox {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;

                display: flex;
                align-items: center;

                .linkList {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 90px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;

                    li:not(:last-of-type) {
                        margin-right: 30px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        font-size: 14px;

                        img {
                            margin-right: 12px;
                        }
                    }
                }
            }

            .menuBtnBox {
                position: absolute;
                top: 58px;
                right: 50%;
                margin-right: -722px;
                z-index: 4;

                .menuBtn {
                    width: 56px;
                    height: 56px;
                    background: #111a24;
                    border-radius: 4px;
                    transition: all 0.3s;
                    position: relative;
                    cursor: pointer;

                    &.on {
                        background: #fff;

                        span {
                            background-color: #111a24;

                            transform: rotateZ(45deg);

                            &:last-of-type {
                                transform: rotateZ(-45deg);
                            }
                        }
                    }

                    span {
                        width: 24px;
                        height: 2px;
                        border-radius: 2px;
                        transform-origin: 6px 2px;

                        position: absolute;
                        top: 23px;
                        left: 17px;

                        display: block;
                        background-color: #fff;
                        transition: all 0.3s;

                        &:last-of-type {
                            top: 31px;
                        }
                    }
                }
            }

            .menuBox {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                display: none;

                &.on {
                    display: block;
                }

                .bgDiv {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    opacity: 0.6;
                }

                .menuList {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    li {
                        color: #fff;
                        transition: all 0.15s;
                        font-size: 25px;
                        cursor: pointer;

                        opacity: 0.6;

                        &:not(:last-of-type) {
                            margin-bottom: 75px;
                        }

                        &:hover {
                            opacity: 0.95;
                        }
                    }
                }
            }
        }
    }

    & {
        .tween1 {
            position: relative;
            top: 30px;
            opacity: 0;
        }

        .tween2 {
            opacity: 0;
        }
    }

    .moviePopup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;

        &.on {
            display: block;
        }

        .iframeBox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 1080px;
            margin: auto;

            position: relative;
            top: 50%;
            transform: translateY(-50%);

            button {
                margin-bottom: 52px;
            }

            iframe {
                width: 1080px;
                height: 800px;
            }

            > div {
                display: flex;
            }
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.6;
        }

        .descriptionBox {
            overflow-y: auto;
            width: 300px;
            padding: 50px 30px;
            background: #fff;
            box-sizing: border-box;
            display: none;

            &.on {
                display: inline-block;
            }

            .descriptionTitle {
                font-family: "kiaL";
                font-size: 28px;
                line-height: 1.3em;
                word-break: keep-all;
                color: rgb(5, 20, 31);

                > div {
                    display: none;

                    &.on {
                        display: block;
                    }
                }
            }

            .descriptionContent {
                font-family: "kiaL";
                font-size: 14px;
                line-height: 20px;
                margin-top: 30px;
                color: rgb(5, 20, 31);

                > div {
                    display: none;

                    &.on {
                        display: block;
                    }
                }
            }
        }
    }

    // 상단에 위치하면 css 우선순위가 밀리므로 하단에 위치하였다
    @import "./responsive.scss";
}
