@import "./func.scss";

// display
div {
    .ms_tab,
    .ms_tab_inline,
    .ms_tab_flex {
        display: none !important;
    }
    .ms_nontab {
        display: block !important;
    }
    .ms_nontab_flex {
        display: flex !important;
    }
    .ms_nontab_inline {
        display: inline !important;
    }
}

@media (max-width: 1024px) {
    div {
        .ms_tab {
            display: block !important;
        }
        .ms_tab_inline {
            display: inline !important;
        }
        .ms_tab_flex {
            display: flex !important;
        }
        .ms_nontab,
        .ms_nontab_flex,
        .ms_nontab_inline {
            display: none !important;
        }
    }
}

// css module
%absoWrap {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

%absoCenter {
    top: 50%;
    left: 50%;
    position: absolute;
}

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// etc
div {
    .flexBox {
        display: flex;
    }
    .hide {
        display: none !important;
    }

    img {
        display: block;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }

    strong {
        font-weight: 700;
    }
    .light {
        font-weight: 300 !important;
    }
    .regular {
        font-weight: 400 !important;
    }

    p {
        line-height: 1em;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    button {
        font-family: "Kia", "Noto Sans KR", Arial, sans-serif;
        background: transparent;
        padding: 0;
        border: 0;
        outline: 0;
        color: #fff;
        cursor: pointer;
    }

    .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .bgDim {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.4;
        z-index: 1;
    }

    div {
        scrollbar-base-color: transparent;
        scrollbar-face-color: transparent;
        scrollbar-3dlight-color: transparent;
        scrollbar-highlight-color: transparent;
        scrollbar-track-color: transparent;
        scrollbar-arrow-color: transparent;
        scrollbar-shadow-color: transparent;
        scrollbar-dark-shadow-color: transparent;
    }

    .scrollBox {
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: transparent;
            position: absolute;
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background: transparent;
        }

        & .scrollWhite::-webkit-scrollbar-thumb {
            border-radius: 0;
            background: transparent;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }

    .blank {
        width: 1rem;
        display: inline-block;
    }
}

// size
div {
    .sizefull {
    }
    .size14x8 {
        width: 14px;
        height: 8px;
    }
    .size14x10 {
        width: 14px;
        height: 10px;
    }
    .size20x19 {
        width: 20px;
        height: 19px;
    }
    .size22x13 {
        width: 22px;
        height: 13px;
    }
    .size22x71 {
        width: 22px;
        height: 71px;
    }
    .size25x17 {
        width: 25px;
        height: 17px;
    }
    .size28x28 {
        width: 28px;
        height: 28px;
    }
    .size60x61 {
        width: 60px;
        height: 61px;
    }
    .size538x145 {
        width: 538px;
        height: 145px;
    }
    .size227x372 {
        width: 227px;
        height: 372px;
    }
    .size468x317 {
        width: 468px;
        height: 317px;
    }
    .size255x356 {
        width: 255px;
        height: 356px;
    }
    .size269x400 {
        width: 269px;
        height: 400px;
    }
    .size388x206 {
        width: 388px;
        height: 206px;
    }
    .size363x134 {
        width: 363px;
        height: 134px;
    }
    .size660x224 {
        width: 660px;
        height: 224px;
    }
    .size668x316 {
        width: 668px;
        height: 316px;
    }
    .size725x304 {
        width: 725px;
        height: 304px;
    }
    .size992x950 {
        width: 992px;
        height: 950px;
    }
    .size1554x446 {
        width: 1554px;
        height: 446px;
    }
    .size1660x376 {
        width: 1660px;
        height: 376px;
    }
    .size1707x596 {
        width: 1707px;
        height: 596px;
    }
    .size1920x550 {
        width: 1920px;
        height: 550px;
    }

    // .size {
    //     width: px;
    //     height: px;
    // }
}

@media (min-width: 1025px) {
    div {
        .size14x8 {
            @include px2vw("width", 14);
            @include px2vw("height", 8);
        }
        .size14x10 {
            @include px2vw("width", 14);
            @include px2vw("height", 10);
        }
        .size20x19 {
            @include px2vw("width", 20);
            @include px2vw("height", 19);
        }
        .size22x13 {
            @include px2vw("width", 22);
            @include px2vw("height", 13);
        }
        .size22x71 {
            @include px2vw("width", 22);
            @include px2vw("height", 71);
        }
        .size25x17 {
            @include px2vw("width", 25);
            @include px2vw("height", 17);
        }
        .size28x28 {
            @include px2vw("width", 28);
            @include px2vw("height", 28);
        }
        .size35x35 {
            @include px2vw("width", 35);
            @include px2vw("height", 35);
        }
        .size60x61 {
            @include px2vw("width", 60);
            @include px2vw("height", 61);
        }
        .size538x145 {
            @include px2vw("width", 538);
            @include px2vw("height", 145);
        }
        .size227x372 {
            @include px2vw("width", 227);
            @include px2vw("height", 372);
        }
        .size468x317 {
            @include px2vw("width", 468);
            @include px2vw("height", 317);
        }
        .size255x356 {
            @include px2vw("width", 255);
            @include px2vw("height", 356);
        }
        .size269x400 {
            @include px2vw("width", 269);
            @include px2vw("height", 400);
        }
        .size388x206 {
            @include px2vw("width", 388);
            @include px2vw("height", 206);
        }
        .size363x134 {
            @include px2vw("width", 363);
            @include px2vw("height", 134);
        }
        .size609x322 {
            @include px2vw("width", 609);
            @include px2vw("height", 322);
        }
        .size660x224 {
            @include px2vw("width", 660);
            @include px2vw("height", 224);
        }
        .size668x316 {
            @include px2vw("width", 668);
            @include px2vw("height", 316);
        }
        .size725x304 {
            @include px2vw("width", 725);
            @include px2vw("height", 304);
        }
        .size992x950 {
            @include px2vw("width", 992);
            @include px2vw("height", 950);
        }
        .size1114x586 {
            @include px2vw("width", 1114);
            @include px2vw("height", 586);
        }
        .size1554x446 {
            @include px2vw("width", 1554);
            @include px2vw("height", 446);
        }
        .size1660x376 {
            @include px2vw("width", 1660);
            @include px2vw("height", 376);
        }
        .size1707x596 {
            @include px2vw("width", 1707);
            @include px2vw("height", 596);
        }
        .size1920x550 {
            @include px2vw("width", 1920);
            @include px2vw("height", 550);
        }
    }
}
@media (max-width: 1024px) {
    div {
        .size20x19 {
            @include px2vwm("width", 20);
            @include px2vwm("height", 19);
        }
        .sizem58x42 {
            @include px2vwm("width", 58);
            @include px2vwm("height", 42);
        }
        .sizem30x17 {
            @include px2vwm("width", 30);
            @include px2vwm("height", 17);
        }
        .sizem54x54 {
            @include px2vwm("width", 54);
            @include px2vwm("height", 54);
        }
        .sizem940x240 {
            @include px2vwm("width", 940);
            @include px2vwm("height", 240);
        }
        .sizem318x231 {
            @include px2vwm("width", 318);
            @include px2vwm("height", 231);
        }
        .sizem312x557 {
            @include px2vwm("width", 312);
            @include px2vwm("height", 557);
        }
        .sizem358x247 {
            @include px2vwm("width", 358);
            @include px2vwm("height", 247);
        }
        .sizem514x378 {
            @include px2vwm("width", 514);
            @include px2vwm("height", 378);
        }
        .sizem668x316 {
            @include px2vwm("width", 668);
            @include px2vwm("height", 316);
        }
        .sizem1008x999 {
            @include px2vwm("width", 1008);
            @include px2vwm("height", 999);
        }
        .sizem940x393 {
            @include px2vwm("width", 940);
            @include px2vwm("height", 393);
        }
        .sizem1080x1656 {
            @include px2vwm("width", 1080);
            @include px2vwm("height", 1656);
        }
        .sizem438x600 {
            @include px2vwm("width", 438);
            @include px2vwm("height", 600);
        }
        .sizem140x141 {
            @include px2vwm("width", 140);
            @include px2vwm("height", 141);
        }
        .sizem1080x420 {
            @include px2vwm("width", 1080);
            @include px2vwm("height", 420);
        }
        .sizem1080x922 {
            @include px2vwm("width", 1080);
            @include px2vwm("height", 922);
        }
        .sizem34x18 {
            @include px2vwm("width", 34);
            @include px2vwm("height", 18);
        }
        .sizem862x574 {
            @include px2vwm("width", 862);
            @include px2vwm("height", 574);
        }
        .sizem950x503 {
            @include px2vwm("width", 950);
            @include px2vwm("height", 503);
        }
        .sizem1080x1286 {
            @include px2vwm("width", 1080);
            @include px2vwm("height", 1286);
        }
        .size1114x586 {
            @include px2vwm("width", 1080);
            @include px2vwm("height", 1286);
        }
        .sizem {
            @include px2vwm("width", 0);
            @include px2vwm("height", 0);
        }

        .sizem {
            @include px2vwm("width", 0);
            @include px2vwm("height", 0);
        }
    }
}
